[2016-02-19 16:59] LappleApple opened #2 "Project status"
Hi Yuriy--was this a Hack Week project? Do you have plans to develop it further? If so, we should add a README (which I can write). LMK ...

[2016-02-19 18:41] Unisay commented on #2
Hi Lauri,

I apologize for not making a project status clearer. In fact I described it but its in the README that is in the branch other than master)

Let me bring it here...

[2016-02-19 18:44] #2 closed

[2016-02-19 18:45] Unisay commented on #1
Sorry, its not functional, description is in the README.

[2016-05-11 05:48] semonte opened #1 "Navigation support for $ref elements"
There was request at https://www.reddit.com/r/IntelliJIDEA/comments/4ioud1/swagger_plugin/ about being able to navigate from a $ref element to definition. For example, clicking ctrl clicking on _count_ would jump to the definition.

`"$ref": "#/parameters/count"`

[2016-05-12 05:51] semonte opened #6 "Swagger detection by different file names"
From https://plugins.jetbrains.com/plugin/8347:

clint@computer.org wrote:

Would it make sense to support openapi.yml as the filename as well? I haven't seen any examples so I'm not sure if people are putting a dash in the name or not.

[2016-05-12 06:00] semonte opened #7 "Investigate support for IntelliJ IDEA 15"

[2016-05-12 06:55] semonte commented on #7
Support for IntelliJ IDEA 15 is not trivial, because YAML plugin was introduced for IntelliJ IDEA 2016.1. Unless there is a big demand for IDEA 15, I would stick with version IntelliJ IDEA 2016.1 and up.

[2016-05-12 08:41] #7 closed, assigned to nobody

[2016-05-15 21:00] leroyshirto opened #8 "Pluggin fails to load due to missing dependency. Pycharm CE"
Using:
PyCharm Community Edition 2016.1.3
Build #PC-145.971, built on May 3, 2016
JRE: 1.8.0_40-release-b132 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

The plugin fails to load due to a missing dependency on org.jetbrains.plugins.yaml

<img width="498" alt="screen shot 2016-05-15 at 21 58 50" src="https://cloud.githubusercontent.com/assets/6397141/15276713/2531760c-1ae8-11e6-8476-bad

[2016-05-17 07:51] semonte commented on #8
Hi,

Thanks for the detailed report. I just discovered that YAML plugin is only available in PyCharm Ultimate edition. I have updated the plugin page (https://plugins.jetbrains.com/plugin/8347) regarding this.

There was also an issue with PyCharm Ultimate and RubyMine, version 0.0.3 fixes them. Issue is described in  commit de0f15fb447b6a8eb4cf7eecba72fdcea8636d0a

[2016-05-17 07:57] #8 closed, assigned to nobody

[2016-05-17 13:50] #1 closed, assigned to nobody

[2016-05-18 11:55] semonte opened #10 "Append colon after auto completion"
When a field is auto completed, we should append a colon (":") if the field is new.

[2016-05-23 14:12] viatra2 opened #13 "Completion for standard swagger types"
OAI spec supports the following types:
- standard json-schema types
- additional 'file' types (in some places, not everywhere)
- additional 'format' property, as described at https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types

I would expect that plugin simplifies entering / editing the types
- As a first step (covered by this issue), just basic completion of the e

[2016-05-24 11:26] #10 closed, assigned to nobody

[2016-05-24 12:06] semonte commented on #13
@viatra2 Do you want to work on this?

[2016-05-24 12:27] semonte opened #15 "Completion for $ref values"
We should auto complete $ref values. For example

`$ref: '#/definitions/P<caret>'` should be completed to `$ref: '#/definitions/Pets'` if _Pets_ definition exists.

[2016-05-24 13:18] viatra2 commented on #13
@semonte Yes, this time I am going to add real code, not just tests :).
Not sure about exact ETA, but should have some time this week.

[2016-05-25 10:04] #15 closed, assigned to nobody

[2016-05-25 11:37] semonte opened #16 "Add mandatory children when autocompleting a key with required children"
For example, autocompleting _info_ would produce the following block:

[code]

[2016-05-25 16:17] borlander opened #17 "[JSON]: Completion for fields should add trailing comma when needed"
Consider following completion:

[code]

Completion for the field "title" is already implemented, but it would be nice if, after accepting the suggested field the final state would be:

[code]

(note the added quotes, placement of cursor and added comma).

For YAML flow there is no additional required markup, so it seems to be JSON-specific enhancement

[2016-05-25 16:37] viatra2 opened #18 "Fields completion should not suggest already existing fields"
<img width="538" alt="screen shot 2016-05-25 at 18 35 11" src="https://cloud.githubusercontent.com/assets/4850347/15548181/82f94eba-22a7-11e6-981a-1c1560854b3a.png">

Fields `description`, `title` and `version` are already present for `info`, duplicating them creates semantic error, so they probably should be filtered from the suggestions.

[2016-05-25 19:00] semonte commented on #17
@borlander Version 0.0.5 supports this (it also appends arrays and objects after the autocompleted key). Can you verify that you it works for you with version 0.0.5?

Currently autocompletion does not add a comma add the end, that would be a nice addition!

[2016-05-25 19:01] semonte commented on #18
@viatra2 Agreed, existing keys need to be filtered.

[2016-05-26 11:29] borlander commented on #17
@semonte Quoting and cursor placement indeed works in the most recent version, thank you.
I have changed the subj to cover only the part which is not yet implemented

[2016-05-26 12:48] #18 closed, assigned to nobody

[2016-05-26 20:15] viatra2 opened #20 "[JSON] Adding new object into array (e.g of parameters) produces error"
See screencast, note additional curly-brace inserted.
![swagger-adding-parameters](https://cloud.githubusercontent.com/assets/4850347/15588700/64a7615c-238f-11e6-9271-3e1fd127d443.gif)

[2016-05-26 20:18] viatra2 commented on #17
Using the very similar code we can also add a leading comma when inserting the property after the currently-last one. But it is more exotic and questionable use case so not yet implemented.

[2016-05-26 20:21] viatra2 opened #21 "Completion for boolean values"
See attached screenshot, `true` should be suggested (and auto-completed) there.

<img width="508" alt="screen shot 2016-05-26 at 22 20 02" src="https://cloud.githubusercontent.com/assets/4850347/15588840/2290cd7a-2390-11e6-95fc-c012ccf03b1d.png">

[2016-05-26 20:29] viatra2 opened #22 "[YAML] Completion for referenced types should work even when '#' of json-pointer is not escaped"
Consider:

[code]

Here, the `#` is recognised as a start of yaml comment, so no completion is currently suggested.
If user explicitly escaped `'#` then both `#/definitions/Pets` and `#definitions/Error` are correctly suggested.

However, the need for escaping of the `#` symbol is not obvious, so it would be nice if the same completion set would be suggested (and choosing one of them automatically

[2016-05-26 20:40] viatra2 opened #23 "Provide template for referencing the new schema definition"
Consider:

[code]

Here the actual code correctly suggests references for both `Pets` and `Error`.

However, it seems that for actual editing it is more common to have a per-response definitions (except may be a common error definitions). E.g, canonical Uber example contains 5 paths, each of them referencing its own unique definition (and a shared Error).

So it might be useful to provide addition

[2016-05-26 20:53] viatra2 opened #24 "[YAML] Allow non-sibling completion without need to correct an indentation"
This is a generic feature for editing of the YAML document with known structure.
Consider the following:

[code]

Here user has just entered the last field of the `info` object, pressed enter and possibly now wants to get back to editing of the main object.

However, in order to enter e.g the `host` field, user is forced to get to the correct indentation level first, and only then she will be able

[2016-05-26 21:04] viatra2 opened #25 "[YAML] Reference completion does not consider already entered text producing an error"
See screencast.

![swagger-issue-25](https://cloud.githubusercontent.com/assets/4850347/15590171/7884b196-2396-11e6-93cb-17f1862b723d.gif)

[2016-05-26 21:11] viatra2 opened #26 "Rename support for definitions should either work or be disabled"
Consider following sample:

[code]

Here pressing Shift-F6 (for Refactor/Rename) opens Rename dialog as follows, leading to the expectation that rename will actually update the usages. (Especially now when the navigation from $ref to `Pets` is implemented).
<img width="515" alt="screen shot 2016-05-26 at 23 09 35" src="https://cloud.githubusercontent.com/assets/4850347/15590269/1e8036e2-2397-11e6-

[2016-05-26 21:17] viatra2 opened #27 "Completion for ```tags``` should suggest existing tags"
Tags seems to be repititive by their nature in swagger.
Canonical Uber example has 5 tags fields with values: `User`, `User`, `Estimates`, `Estimates` and `Products`.

Probably it makes sense to suggest already existing tags when user tries to enter a new one

[2016-05-27 06:18] #17 closed, assigned to nobody

[2016-05-28 11:46] viatra2 opened #29 "Reference completion: don't mix parameters versus types"
Consider

[code]

Here `<caret-1>` can only reference parameters, while `<caret-2>` can only reference definitions.

However, plugin suggests both types of records (and something else) for both cases:

Parameters (note that `allowEmptyValue` is also questionable here):
<img width="625" alt="screen shot 2016-05-28 at 13 44 47" src="https://cloud.githubusercontent.com/assets/4850347/15627124/5f3026c

[2016-05-28 16:27] viatra2 commented on #25
It was surprisingly difficult to debug, but the key problem here is the code in the platform CompletionData#findPrefixStatic

[code]

Here platform assumes that the prefix only consists of java identifier characters, so existing `#/` in `#/<caret>` is ignored, leaving the prefix empty.

Thus, inserting the lookup `#/whatever` will retain old `#/` and then replace an empty prefix with lookup string

[2016-05-29 11:45] viatra2 opened #30 "Completion for enumerated values"
Consider the screenshot:
<img width="621" alt="screen shot 2016-05-29 at 13 43 10" src="https://cloud.githubusercontent.com/assets/4850347/15633037/89751e1e-25a3-11e6-8f22-860f9390e625.png">

The set of values for parameter#in is enumerated, it should be suggested here (specifically `query` should be the only value matched by `qu`).

There is already existing `@Ingore` test in `CaretCompletionTest

[2016-05-30 06:24] #25 closed, assigned to nobody

[2016-05-30 06:47] semonte commented on #22
@viatra2 I can take a look at this today

[2016-05-30 11:15] semonte commented on #22
Fixed in dc3c03ed443e40820da3398924fb29c4d384e90f.

[2016-05-30 11:15] #22 closed, assigned to nobody

[2016-05-30 11:16] semonte opened #32 "Swagger UI preview"
It would be useful to have a preview tab for the Swagger UI.

[2016-05-31 06:37] #26 closed, assigned to semonte

[2016-05-31 12:00] semonte commented on #20
I am not able to reproduce this. Are you still getting the buggy behaviour?

[2016-05-31 12:18] viatra2 commented on #20
Indeed, it is fixed now, probably by your insertHandler's refactoring

[2016-05-31 12:18] #20 closed, assigned to semonte

[2016-05-31 12:19] semonte commented on #20
Thanks for verifying.

[2016-06-01 16:49] ePaul commented on #6
In many projects I've seen quite different names for the YAML files, often derived from the name of the API.

I guess catching the "swagger" field name should be enough for all of them (even if that doesn't work from the very start).

[2016-06-01 18:09] hjacobs commented on #6
Please use the recommended `.yaml` extension and not  `.yml`.

[2016-06-02 05:45] semonte opened #33 "Provide an easy way to create Swagger files"
Template should contain all required fields.

[2016-06-02 05:46] semonte commented on #6
Currently Swagger file is detected if:
- its filename is swagger.json, swagger.yaml or swagger.yml or
- a "swagger" field exists

It would make sense to create a Swagger template for new files. Template would contain all required fields and everything would work right from the start. I created #33 for this.

[2016-06-02 05:46] #6 closed, assigned to nobody

[2016-06-02 12:21] #29 closed, assigned to semonte

[2016-06-02 12:28] semonte opened #34 "Wrong indentation when completing YAML sequence field"
Expected:

[code]

Actual:

[code]

[2016-06-02 12:29] #34 closed, assigned to semonte

[2016-06-03 06:51] #21 closed, assigned to nobody

[2016-06-08 10:40] #16 closed, assigned to semonte

[2016-06-08 12:56] semonte commented on #13
Commit 36c757847f990e4b455aa2339e9838ca4aaa127e adds type value auto completion.

[2016-06-08 14:18] #30 closed, assigned to semonte

[2016-06-13 09:02] semonte opened #35 "Add field name validation"
Mark unknown fields as error.

[2016-06-13 09:03] #35 closed, assigned to nobody

[2016-06-14 07:36] semonte opened #36 "Show error for unknown $ref values"
If a reference does not exist, show an error.

[2016-06-14 08:58] #36 closed, assigned to nobody

[2016-06-14 14:03] curd0 opened #37 "Definition not found. Invalid key."
Version 0.0.9 introduced following bugs/regressions in NodeJS projects:
1. Response references in swagger.yaml are not resolved. Reported error: _"Definition not found. Invalid key"_
2. All properties in "package.json" are highlighted red and reported as _"Invalid key"_ errors.

All errors are gone if Swagger plugin is disabled.

![swagger-yaml-error1](https://cloud.githubusercontent.com/assets/12

[2016-06-14 14:27] semonte commented on #37
Thanks for the report, I have removed the plugin version from JetBrains and fix the issue.

[2016-06-15 07:24] semonte commented on #37
Version 0.0.10 fixes the issue, I have published it.

[2016-06-15 07:24] #37 closed, assigned to nobody

[2016-06-15 10:28] semonte opened #38 "Add auto completion to "security" array values"

[2016-06-17 09:02] semonte commented on #38
Added this feature in commits 3ecdd1c3db842b4550ef4c2054a6dde49cd07e67, 141bbf22d68cacb0dc915d3d5262dc1de12660ba and f35761be3b2d05bb1659ada5e2199f1504deb150.

Security auto completion works in root and in operation object.

[2016-06-17 09:02] #38 closed, assigned to semonte

[2016-06-17 10:20] #13 closed, assigned to nobody

[2016-06-17 10:52] semonte opened #39 "Add collectionFormat value auto completion"
Take into account that parameter's collectionFormat values differ from items and headers object.

[2016-06-17 14:06] #39 closed, assigned to semonte

[2016-06-20 17:45] ghost opened #40 "incorrect validation cases"
Affected Version: 0.0.11
### Properties named 'contact'

In this example, "$ref" would be marked as invalid key:

[code]

Suggestions for invalid field contain 'email', 'name', and 'url'. Changing property name to something else fixes the issue.
### Array item descriptions

[code]

[2016-06-20 17:50] ghost commented on #40
Also minor suggestion. Could you include link to this repository in plugin description? It would make it a lot easier to find.

[2016-06-21 03:34] taxpon opened #41 "[Suggestion] provide an option to activate this plugin for arbitrary .yaml"
### Problem

I am currently writing swagger spec in multiple files and combine them before I use the swagger spec as follows:

[code]

In this example, `swagger.yaml` is concatenated file of `book.yaml` , `user.yaml` and `index.yaml`. In `index.yaml` , "swagger" field exists so this plugin is activated, while I can not use this plugin in `book.yaml` and `user.yaml` because they do not have "swagge

[2016-06-21 13:12] semonte commented on #40
Thanks for the report and suggestion. I will fix the reported bugs and add a link to repo in description.

[2016-06-22 11:01] semonte commented on #40
I fixed the _contact_ field issue and will make a new release soon. However, I might be missing something for the _items_ field. According the specs _description_ field is not allowed http://swagger.io/specification/#itemsObject

Do you still think there is an issue with this?

[2016-06-22 14:21] ghost commented on #40
I must say I haven't noticed that. I was judging by the fact that it works in [swagger editor](http://editor.swagger.io) and is most likely accepted by code generator as well.

Example: [screenshot](http://i.imgur.com/hPblEFN.png)

[code]

I guess it's up to you in this case. I already moved all array item descriptions to array descriptions in my api definition, so this is no longer an issue for m

[2016-06-23 06:11] semonte commented on #40
I have published version 0.0.12. It contains a fix for the contact field issue. I will leave the description error as it is, since everything else is implemented according to Swagger specification.

Again, thanks for you report and helping to improve the editor!

[2016-06-23 06:11] #40 closed, assigned to semonte

[2016-06-24 06:25] semonte commented on #41
Hi taxpon

Thanks for the suggestion, I have also thought about how referenced files should be handled. I think
intellij-swagger should, in future, activate all files that are referenced by the main file.

However, this is not a small feature. The algorithm for finding what values are auto completed uses JSON/YAML path that is based on the main file structure. I will definitely implement this, but

[2016-06-28 08:53] #32 closed, assigned to nobody

[2016-07-01 06:06] semonte opened #42 "WebStorm 2016.2 EAP incompatibility"
From https://plugins.jetbrains.com/plugin/8347:

"I am unable to install plugin 0.0.13 (Plugin Swagger Plugin is incopatible with this installation) on WebStorm 2016.2 EAP Build #WS-162.917.18, built on June 15, 2016 JRE: 1.8.0_76-release-b216 x86 JVM: OpenJDK Server VM by JetBrains s.r.o Plugin version 0.0.2 from repository do not work. Is possible to fix it or are there any workaround? THX Lubor

[2016-07-01 11:46] semonte commented on #42
Version 0.0.15 supports 2016.2 based versions

[2016-07-01 11:46] #42 closed, assigned to nobody

[2016-07-05 13:28] #23 closed, assigned to nobody

[2016-07-07 06:16] #27 closed, assigned to nobody

[2016-07-07 08:15] semonte opened #43 "Default children are not generated when JSON key is inside quotes"
Default children are not generated in the following case

`
{
  "swagger": "2.0",
  "inf<caret>"
}
`

[2016-07-07 08:19] #43 closed, assigned to nobody

[2016-07-12 05:49] semonte opened #44 "Navigation support for tags"
Similar support as https://github.com/zalando/intellij-swagger/issues/1 to tag elements.

[2016-07-13 23:36] TheTaylorHicks opened #45 "Swagger Plugin incompatible with build 162.1121"
Swagger Plugin is incompatible with Intellij IDEA 2016.2 (build 162.1121).

[2016-07-14 05:51] semonte commented on #45
Hi @TheTaylorHicks and thanks for the report.

I am not able to reproduce the issue:

![image](https://cloud.githubusercontent.com/assets/1151536/16829284/74dfd9f4-4997-11e6-91dd-2fdded807e9f.png)

I do not know what version of Swagger Plugin you are using, but 0.0.16 should be compatible with IntelliJ IDEA 2016.2 (162.1121)

[2016-07-19 02:29] TheTaylorHicks commented on #45
Sorry, I raised this issue due to a warning given by Intellij IDEA 2016.1 when prompted to upgrade, which turned out to be a false positive. After upgrading, Swagger Plugin works fine.

Apologies for any inconvenience caused.

[2016-07-19 02:29] #45 closed, assigned to nobody

[2016-07-19 06:07] semonte commented on #45
No problem, good that you got everything working.

[2016-07-25 12:12] novas1r1 opened #46 "Plugin not available for PHPStorm 10.0.4"
Hey,

I tried to install your swagger plugin via the PHPStorm plugin repository but there's only version 0.0.1 available (which doesn't work. It's always grayed out after installing it):

![image](https://cloud.githubusercontent.com/assets/2575205/17100898/a3a03f8a-5271-11e6-92b8-4464caf7088c.png)

So I downloaded the zip file with ne newest version (0.0.17) and tried to install it manually. But n

[2016-07-26 13:29] dseichter opened #47 "external JSON schema files not working -> update to newest Swagger-UI"
I am using external JSON schema files (v3/v4 compliant) and also using your Swagger Plugin in PyCharm.
I found out, that the Swagger-UI provided by your plugin, does not work correctly with external json files.
E.g. the following response:

[code]

Your plugin (and the integrated swagger-ui) returns nothing:
![model schema](https://cloud.githubusercontent.com/assets/1712640/17139543/3d30dfbe-5345-

[2016-08-09 05:39] semonte commented on #47
Hi,

External file support does not exist at the moment. See also https://github.com/zalando/intellij-swagger/issues/41. For now, the UI does not work for this case.

[2016-08-09 05:57] semonte commented on #46
Hi,

Sorry for delayed reply. Unfortunately versions above 0.0.1 require newer versions of IDE, is it possible for you to upgrade to 2016.2? 0.0.1 has very limited features and is not actively maintained. With 2016.2 you can use the latest version:

![image](https://cloud.githubusercontent.com/assets/1151536/17506142/c7557f80-5e06-11e6-8fec-653bec953fdd.png)

[2016-08-09 11:16] novas1r1 commented on #46
Works now, thanks a lot =)! PHPStorm never told me that there's a new version available... :/

[2016-08-09 11:17] semonte commented on #46
Great, I will close this issue then!

[2016-08-09 11:17] #46 closed, assigned to nobody

[2016-08-16 19:26] juan-quiver commented on #41
+1

[2016-08-24 08:32] qfrank opened #48 "resolve splited swagger file and autocomplete"
A blog article about ["How to split a Swagger spec into smaller files"](http://azimi.me/2015/07/16/split-swagger-into-smaller-files.html)
1.It would be better if this plugin can resolve splited swagger files!Resolve means for $ref a relative path yaml,then we can click it like a hyperlink and jump to the target yaml file!
2.Also,when i edit User.yaml file which is mentioned in above article,autoco

[2016-08-25 21:10] dseichter commented on #47
Good evening,
sorry for the long delay.
We are providing our json-schema files on our development machines by using a local webserver. So we can use e.g. $ref: 'http://localhost/lab-result-1014.json' to embed an external json schema. In production , we also provide that schema using a webservice.
The problem I meant was, that the swagger-plugin provides the swagger-ui version 2.1.4.
WIth this rele

[2016-08-25 21:18] dseichter commented on #47
I will close this issue. The **workaround** is to update the swagger-ui files manually (in the plugins directory), as long as the old swagger-ui version is shipped.

[2016-08-25 21:18] #47 closed, assigned to nobody

[2016-08-26 08:09] lasomethingsomething commented on #47
Thanks for your interest in the project, @dseichter. Please reach out with any additional feedback or updates. :)

[2016-09-08 11:57] barrystaes opened #50 "swagger-php annonation"
We use https://github.com/zircote/swagger-php and have annonation in our PHP files (prefixed to the implementing function), much like phpdoc. We find it very useful to document our fast evolving JSON REST API.

But right now this syntax in PhpStorm is just grey blob of text, so not very practical at all. Some code styling to help prevent syntax errors or typos. For me in particular quick navigatio

[2016-09-09 06:27] semonte commented on #50
Hi @barrystaes

"intellij-swagger" is only a swagger specification editor and I think this kind of integration does not belong to the plugin. "phpdoc" is a better fit, but I would also consider a completely new plugin (e.g. intellij-swagger-php) as "phpdoc" and "intellij-swagger" are not perfect fits for this need.

[2016-09-09 21:45] barrystaes commented on #50
Ok thanks for your insights!

Note to future self: brush up on Java and dive into https://confluence.jetbrains.com/display/PhpStorm/Plugin+Development

[2016-09-11 06:33] #50 closed, assigned to nobody

[2016-09-12 17:06] gjgarryuan commented on #48
@semonte Is there any plan of supporting splited swagger file?

[2016-09-13 05:52] semonte commented on #48
Yes, navigating to files via $ref value is a high priority feature that the plugin needs to support. Also auto completion will be added to the referenced files.

[2016-09-13 08:18] lasomethingsomething commented on #48
@garrychnca Hi Garry, thanks for your interest. Is this enhancement something you'd like to work on/contribute?

[2016-09-13 08:52] semonte opened #51 "Support navigation to referenced files"
From #48

"It would be better if this plugin can resolve splited swagger files!Resolve means for $ref a relative path yaml,then we can click it like a hyperlink and jump to the target yaml file!"

[2016-09-13 08:53] semonte opened #52 "Auto completion for referenced Swagger files"
From #48:

"2.Also,when i edit User.yaml file which is mentioned in above article,autocomplete feature does not work...It would be good if autocomplete feature work in this situation!"

[2016-09-13 08:55] semonte commented on #48
I have created two issues from this issue. #51 is well on its way. For #52 any help would be appreciated!

[2016-09-13 08:55] #48 closed, assigned to nobody

[2016-09-13 09:59] semonte commented on #51
Fixed by https://github.com/zalando/intellij-swagger/pull/53

[2016-09-13 09:59] #51 closed, assigned to semonte

[2016-09-13 12:46] semonte commented on #51
Swagger Plugin from version 0.0.18 has this support.

[2016-09-15 01:31] gjgarryuan opened #54 "Compile error when trying to build via gradlew.bat runIdea"
When I was trying to build the plugin by `gradlew.bat runIdea`, I ran into a compile error complaining:

[code]

I tried cleaning the temp dir for any gradle downloads as well as the .gradle dir under user folder, but same result.

Also, when I opened the source code and tried to go to the definition of the accused BuiltInWebBrowserUrlProvider, it opened a file called **BuiltInWebBrowserUrlProvide

[2016-09-15 05:55] semonte commented on #54
Hi @garrychnca

It seems that the LATEST-EAP-SNAPSHOT has some breaking changes for intellij-swagger plugin. I updated the build.gradle file to explicitly use version 2016.2. Please let me know if this works for you now.

[2016-09-15 05:59] semonte commented on #54
And to answer to the last question: yes, kotlin files can be found here and there in intellij source code.

[2016-09-16 00:17] gjgarryuan commented on #54
Yes, it compiles successfully if limited to 2016.2 version.

[2016-09-20 06:33] semonte commented on #54
Great! I will close the issue then.

[2016-09-20 06:33] #54 closed, assigned to nobody

[2016-09-26 07:57] #52 closed, assigned to nobody

[2016-09-26 08:38] semonte commented on #41
Duplicate of https://github.com/zalando/intellij-swagger/issues/52

[2016-09-26 08:38] #41 closed, assigned to nobody

[2016-09-26 12:28] #44 closed, assigned to semonte

[2016-10-05 14:27] FWiesner opened #57 "Please upgrade the SwaggerUI distribution you use"
Hi,

looks like the SwaggerUI distribution that you use is a bit dated and it seems to have problems with externalized schemas. When I try previewing, I just get

[code]

and looking at the Chrome JS output reveals that there was an exception:

[code]

in line 261 of spec-converter.js.

This happens with both my own swagger files and with https://github.com/OAI/OpenAPI-Specification/tree/master/ex

[2016-10-23 23:36] nail2001 opened #58 "Unhandled exception while starting IntelliJ"
It did not happen before 0.20 (if I remember well)

Every time I start IntelliJ I get this exception:

[2016-10-24 05:56] semonte commented on #58
I will take a look at this. Are you able to share your project so that I could test this with your setup?

[2016-10-24 21:53] nail2001 commented on #58
I was unable to reproduce the error myself on a different computer. Therefore I made a clean install of intellij and the problem is gone now.

[2016-10-24 21:53] #58 closed, assigned to nobody

[2016-10-25 06:08] semonte commented on #58
Ok, please let me know if the problem reappears. I have not heard of a similar issue before, so it does not make sense to invest time in this for now.

[2016-10-26 04:15] kexsteve opened #59 "Autocomplete doesn't work in referenced operation files"
swagger.yaml
<img width="390" alt="screen shot 2016-10-26 at 12 11 14 am" src="https://cloud.githubusercontent.com/assets/5917562/19713045/c1c687fc-9b10-11e6-9b92-d8a6ab14b414.png">

hospitals.yaml
<img width="341" alt="screen shot 2016-10-26 at 12 13 04 am" src="https://cloud.githubusercontent.com/assets/5917562/19713079/057f65cc-9b11-11e6-8d58-b4f2699dd358.png">

[2016-10-26 06:12] semonte commented on #59
Auto completion for referenced files is implemented in https://github.com/zalando/intellij-swagger/pull/55. However, it only supports definition and parameter references as they are usually reused across the specification.

Obviously there is a need to support operation references as you pointed out :)

[2016-11-13 18:16] bdaroz opened #60 "NPE in YamlTraversal"
[code]

[code]

File causing the NPE:

https://github.com/bdaroz/the-blue-alliance/blob/18b6eec78fa3b45e14590ab7f9e37e944d7f25c2/static/apiv3-swagger.yaml

[2016-11-14 07:32] semonte commented on #60
Thanks for the report. Unfortunately I wasn't able to reproduce this, I tested with Swagger Plugin version 0.0.20.

What version are you using? Does the exception from just opening the file?

[2016-11-14 15:24] bdaroz commented on #60
The plugin is 0.0.20. It doesn't seem to trigger on load, but it does trigger quite a few times (my last editing session had 6 triggers between start and clear of the error). Either way, a decision was made to refactor to a JSON model instead of YAML (for other reasons) so the problem hasn't reoccurred.

[2016-11-15 08:53] semonte commented on #60
Ok, I will take a look at this anyway.

[2016-11-26 12:32] #57 closed, assigned to nobody

[2016-11-27 13:01] semonte opened #61 "Support for reference properties"
Auto completion should work with reference properties. For example, `../common.yaml#/definitions/Security` or `../definitions.yaml#/Security`. Swagger auto completion should work in referenced files.

- [x] JSON support for definitions (0fccef6af8e674fb57fb6fdb86342538b4c0c4d3)
- [x] JSON support for parameters (93d7cd81947dff8b350a0d629094228fcd4f058d)
- [x] YAML support for definitions (7424e1f8

[2016-12-01 12:23] ghost opened #62 "IllegalArgumentException in JsonTraversal"
[code]

I use IDEA 2016.3 and swagger plugin v0.0.21.

[2016-12-02 09:10] semonte commented on #62
Thanks for your report. Are you able to share the `swagger.json` file that causes the exception?

[2016-12-02 12:43] ghost commented on #62
I'm afraid not, but I could provide altered/obfuscated version. Is it only structure and types that need to be preserved? In other words, if I change paths and various names and values, would it still be useful to you?

[2016-12-02 12:47] semonte commented on #62
If you are able to reproduce the error with the obfuscated version it is useful.

[2016-12-02 13:34] ghost commented on #62
I'll see what I can do to help, but it might take some time.

[2016-12-12 15:48] rupert-madden-abbott commented on #60
I've got the same error with 0.0.21 which is the latest version that installs in IntelliJ. The stack trace is the same, however.

It happens very intermittently. I would assume it is probably a race condition on [this line](https://github.com/zalando/intellij-swagger/blob/master/src/main/java/org/zalando/intellij/swagger/traversal/YamlTraversal.java#L37). I'm guessing that isPresent returns true b

[2016-12-12 19:41] semonte commented on #60
Hmm, it seems we need to replace `Optional.of` to `Optional.ofNullable`. @rupert654 care to contribute :) ?

[2016-12-13 08:44] rupert-madden-abbott commented on #60
I thought that initially too, but then I felt like I may have misunderstood what the line is doing. Let me take another look.

[2016-12-13 08:46] semonte commented on #60
Ok great! If you have any questions I'm happy to answer.

[2016-12-13 09:56] rupert-madden-abbott commented on #60
I'm not very familiar with this functional style since I'm normally stuck on Java 5/6 but I believe that should fix the problem whilst maintaining the intended behaviour of the method.

[2016-12-13 14:15] #60 closed, assigned to nobody

[2016-12-14 08:54] rupert-madden-abbott commented on #62
I'll push a fix up for this shortly as it is a very similar issue to #60.

I should probably note that the way in which a PsiElement is determined to be a key is slightly different between YamlTraversal and JsonTraversal. In YamlTraversal, getParent is only called once. In JsonTraversal, it is called twice, once on the element passed to the method, and then again on that parent inside JsonPsiUtil:

[2016-12-29 09:09] lukx opened #65 "Auto-Refresh for browser preview"
I have found this plugin the most convenient way for me to edit swagger files (i prefer it over the swagger-editor, for example).
What I'd really love to see is an auto-refresh feature for the excellent browser preview - so that whenever I save, the page in the browser reloads or updates the relevant parts, similar to what the various markdown plugins do.

[2016-12-30 11:23] semonte commented on #65
That is a good idea, care to contribute @Lukx? :)

[2016-12-30 11:24] lukx commented on #65
Absolutely, I was planning to look into it on saturday

[2016-12-30 11:28] semonte commented on #65
Great! Don't hesitate to ask if you have any questions regarding the code.

[2016-12-30 13:40] semonte commented on #61
Released in https://github.com/zalando/intellij-swagger/releases/tag/0.0.24

[2016-12-30 13:40] #61 closed, assigned to nobody

[2016-12-30 13:44] semonte commented on #24
In my opinion this is not needed, and will probably not be implemented. Closing.

[2016-12-30 13:44] #24 closed, assigned to nobody

[2017-01-02 08:40] semonte opened #66 "Support for referenced responses properties"
Rename and navigation support for response property references. For example, `$ref: 'responses.yaml#/responseName'`

[2017-01-02 09:54] #66 closed, assigned to nobody

[2017-01-06 14:43] manuc66 opened #67 "java.lang.NullPointerException in YamlTraversal.isValue(YamlTraversal.java:251)"
I got this exception with IntelliJ IDEA 2016.3.2 and Swagger Plugin 0.0.24

`In file: LightVirtualFile: \swagger.yaml
java.lang.NullPointerException
	at org.zalando.intellij.swagger.traversal.YamlTraversal.isValue(YamlTraversal.java:251)
	at org.zalando.intellij.swagger.validator.value.ValuesValidator.validate(ValuesValidator.java:27)
	at org.zalando.intellij.swagger.annotator.YamlValidValueAnnota

[2017-01-08 12:07] semonte commented on #67
Thanks for the report, this will be fixed in the next release.

[2017-01-09 08:38] semonte commented on #67
Fixed in #68

[2017-01-09 08:38] #67 closed, assigned to nobody

[2017-01-10 11:39] #62 closed, assigned to nobody

[2017-01-18 21:03] ddska opened #69 "Cannot obtain text for binary file type : UNKNOWN"
Got this error in the IDEA while in the Go lang project:
[code]
Swagger plugin version: 0.0.26
Ubuntu 16.10
IntelliJ IDEA 2016.3.3
Build #IU-163.11103.6, built on January 16, 2017
JRE: 1.8.0_112-release-408-b6 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[2017-01-19 07:09] semonte commented on #69
@ddska Thanks for the report. Are you able to share the project that is causing this error?

[2017-01-19 15:08] ddska commented on #69
Unfortunately, no.
But the error happened while indexing this file:
https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/eccc4ee97c6d6a2a52326870e1b6710320e65148/Godeps/_workspace/src/gopkg.in/yaml.v2/LICENSE.libyaml

[2017-01-19 16:00] manuc66 opened #70 "Goto declaration of "$ref" used in "definitions" is not working"
Hi,

I noticed that i can not navigate to the declaration when "$ref" is used inside "definitions".

In the following example I can navigate `'#/definitions/Pet'` but not `'#/definitions/Category'` :
[code]

Thanks

[2017-01-20 07:44] semonte commented on #70
@manuc66 thanks for the report. Nested references are not (yet) supported. Would you be interested implementing this?

[2017-01-20 09:58] marcelstoer commented on #70
Was just gonna report the same.

That's a good one 😉

[2017-01-21 20:52] manuc66 opened #72 "View in Chrome does not work on Windows"
Hi,

The preview button for Chrome does not work on windows, i noticed that all `\` are replace by `%5` except the last one just before `index.html`

[2017-01-24 07:01] #72 closed, assigned to nobody

[2017-01-29 08:17] grosch opened #74 "How does this work?"
I installed this plugin via inside PhpStorm and restarted, but I'm not seeing anything special happening with my yaml file.  Do I have to do something specific to get features?  Is there any documentation for this?

[2017-01-29 11:26] semonte commented on #74
Hi @grosch. You don't need to do anything special to activate the plugin. Just open a Swagger specification file and the features (auto completion, navigation to references, etc.) will work. If you are still having problems you need to provide which version of PhpStorm and Swagger plugin you are using.

[2017-01-30 07:15] #70 closed, assigned to nobody

[2017-01-31 11:35] manuc66 opened #75 "Code folding with comments"
Hi,

Could be a nice idea to have code folding in `YAML` like in the swagger Editor.

[![idea_yaml_folding.png](https://s29.postimg.org/ldg74fw2f/idea_yaml_folding.png)](https://postimg.org/image/knxes2vir/)

[2017-01-31 12:37] semonte commented on #75
Hey @manuc66 at least IntelliJ 2016.3 has folding available in YAML files.

![image](https://cloud.githubusercontent.com/assets/1151536/22465103/5fabff60-e7ba-11e6-962b-d3199f4c4cc9.png)

Or am I missing something?

[2017-01-31 12:43] manuc66 commented on #75
Yes `2016.3` can fold but only one route at a time.

Here is the Idea to put a `#Pets` before all pets route and a `#Stores` before all stores routes and then be able to collapse all Pets or Stores routes.

[2017-02-02 07:07] semonte commented on #75
@manuc66 That seems like a useful feature, you are more than welcome to implement it!

[2017-02-02 08:55] #74 closed, assigned to nobody

[2017-02-08 12:22] patrick-hertling opened #76 "Type: "object" in array "items" produces "invalid key"
I get an invalid "invalid key" error lint up in the 'title' und 'properties' field when I set up this array structure. In the online editor it works fine though.
Am I specifying it wrong?
[code]
Best regards

[2017-02-09 13:28] semonte commented on #76
@patrick-hertling thanks for the report, seems to be a bug.

[2017-02-12 19:18] #76 closed, assigned to nobody

[2017-02-27 19:40] ddska commented on #69
Got this error again, on different project, now with Gogland IDE, Swagger plugin version 0.0.27:

[code]

[2017-02-27 21:17] manuc66 commented on #69
Hi,

It seem your file `/home/dds/dev/go/vendor/github.com/docker/distribution/vendor/gopkg.in/yaml.v2/LICENSE.libyaml` is considered as a `yaml` file due to the fact that its extension ends with `yaml`.

I would suggest checking the extension this way at `org.zalando.intellij.swagger.index.SwaggerFileIndex`:

before:
[code]

after:
[code]

But it also seems that similar logic is also done in `org

[2017-02-28 07:09] semonte commented on #69
Sounds like a good plan. As you suggested, we should move the logic to `FileDetector` with a method `isJsonOrYamlFile()` or so. @manuc66 do you want to fix this?

We should also use constants found in https://github.com/zalando/intellij-swagger/blob/master/src/main/java/org/zalando/intellij/swagger/file/FileConstants.java

[2017-03-03 19:44] carlansley opened #78 "Warnings for unused definitions and parameters"
Not sure if this exists already and I'm missing how to turn it on, or a possible future enhancement, but would love to see unused definitions and parameters shown as warnings within the editor.

Thanks for the great plugin!

[2017-03-06 07:06] semonte commented on #78
This would be a nice feature indeed! I'll label it as an enhancement.

[2017-03-06 12:05] #69 closed, assigned to nobody

[2017-03-20 18:41] onema opened #79 "Rename doesn't seem to work"
Plugin Version: `0.0.28`
OS: `OSX 10.11.6`
Intellij details:
[code]

Testing out the plugin and whenever I do `shift-F6` to rename a model, I get nothing, it does not respond.

This doesn't happen in the `CE` edition versions  `2016.3.3` and `2016.3.5`.

Please let me know if I can provide any additional information

[2017-03-21 02:37] sxp opened #80 "Autocomplete doesn't work in "Schema Object" 's properties"
[code]

[2017-03-22 06:39] semonte commented on #80
Thanks for opening the issue @sxp. I will take a look at this.

[2017-03-22 06:40] semonte commented on #79
@onema thanks for the detailed description, I will take a look at this.

[2017-03-27 05:59] semonte commented on #80
I checked this, there is currently no code that would generate the autocompletion inside the properties. This needs to be added.

[2017-03-27 06:13] semonte commented on #79
I tested this with the version mentioned and I could not reproduce this issue. Are you able to share the swagger file that is causing the issue? I am able to rename `Pet` with this:

[code]

[2017-03-31 15:40] maclonghorn commented on #80
This works for me.  Plugin version:  0.0.28   PHPStorm version: 2016.3.2 (Mac)

[2017-03-31 15:55] maclonghorn commented on #80
I'm having a similar problem, but in examples, as well as some other areas.  It seems random.  However, when I view the file structure in PHPStorm, it looks fine.

[2017-04-03 08:46] n8sabes opened #81 "Parameters not encoded correctly in curl and url fields"
When including an exclamation point ! in query parameter or body parameter fields, intellij-swagger is incorrectly encoding these as #&33; and should be encoding as %21. This results in bad curl and url strings that cannot be used.

Is there any way to force intellij-swagger to always use percent encoding?

[2017-04-04 20:06] n8sabes opened #82 "Browser test harness not updating after edits, need to relaunch after each edit"
Really liking the intellij-swagger plugin -- thanks for the work on it. Question about intended operation:

After each edit of the swagger.yaml, you must re-launch to get a new URL with latest API spec. Is it possible make edits automatically update in the browser, or at minimum update the same file so only a browser refresh is required?

1. URL after first edit
`file:///var/folders/c5/6p_8qxjj37n

[2017-04-04 20:28] n8sabes commented on #82
My misunderstanding of the plugin. WebStorm is providing linkage to the Swagger UI. Closing issue.

[2017-04-04 20:28] #82 closed, assigned to nobody

[2017-04-04 20:28] n8sabes commented on #81
My misunderstanding of the plugin. WebStorm is providing linkage to the Swagger UI. Closing issue.

[2017-04-04 20:28] #81 closed, assigned to nobody

[2017-04-12 09:38] peterleng opened #84 "PHPStorm2017.1 don't work in annotates?"
PHPStorm2017.1 don't work in annotates?  I remmeber it can autocomplete in php annotates on old version phpstorms

[2017-04-12 13:24] PetrGlad opened #85 "Allow to mark a yaml file as swagger"
Allow to tell Idea that a particular yaml/yml file should be edited as swagger spec.
Currently if file name do not match predefined pattern it is not recognized as specification.

[2017-04-13 06:56] semonte commented on #85
The plugin also recognizes a Swagger file if the file has a key named `swagger`. This feature would sure be nice to have, but not very high priority. @PetrGlad do you want to contribute :) ?

[2017-04-18 13:29] jakubczaplicki opened #86 "Unexpected end-of-input when binding data into ObjectNode"
Installed the plugin on PyCharm 2017.1.1.  I opened a JSON and a YAML files, and went for a lunch, leaving the laptop on for some time. When I came back I had an error popup in pycharm saying:

[code]

[2017-04-20 07:14] semonte commented on #86
Thanks for reporting the issue. We need to catch all parsing exceptions, the plugin currently expects the JSON to be valid.

[2017-05-02 06:34] #86 closed, assigned to nobody

[2017-05-08 14:46] jamiethompson opened #87 "YAML merge keys are identified as as Invalid Key errors"
When using YAML merge keys to merge in aliases, the merge keys are identified as errors 'Invalid key'

Example YAML

[code]

[2017-05-08 16:07] NabiKAZ commented on #84
Seem resolved this issue with latest update.
I checked on phpstorm 2017.1.3 and works well.
Thanks.

[2017-05-09 10:37] semonte commented on #87
Hi @jamiethompson

Thanks for reporting this, needs to be fixed.

[2017-05-09 10:41] jamiethompson commented on #87
No problem. I have also just this morning noticed that using merge keys also appears to break the Swagger UI generation.

[2017-05-16 09:55] jamiethompson opened #88 "Slashes in YAML anchors cause parsing errors"
Using slashes in YAML anchors appears to cause a parsing error:

[code]

The YAML spec seems to suggest that these characters are acceptable

http://www.yaml.org/spec/1.2/spec.html#id2785586

[2017-05-18 12:54] garethmcc opened #89 "OpenAPI 3.0 (Swagger 3.0) support"
Are there perhaps any plans to add support for the new spec being released soon?

[2017-05-19 09:04] semonte commented on #79
Closing due to inactivity.

[2017-05-19 09:04] #79 closed, assigned to nobody

[2017-05-19 09:16] semonte commented on #89
Swagger 3.0 support is planned, and it will eventually be supported. It is high on the priority list, but it's quite a big feature to add.

OpenAPI 3 branch: https://github.com/zalando/intellij-swagger/tree/issue-89 Progress so far:

- [X] Field autocompletion
- [x] Value autocompletion
- [X] Local component references
- [ ] External component references
- [X] Swagger UI with OpenAPI 3

[2017-05-23 12:57] semonte commented on #87
@jamiethompson are you able to share the Swagger file a bit more? How does the `default_response` element look like?

I want to create proper tests for the merge keys, this would be valuable test data.

[2017-05-23 14:16] jamiethompson commented on #87
No problem, here's what the `&default_response` anchor looks like

[code]

Let me know if you need anything more

[2017-05-24 09:25] #87 closed, assigned to nobody

[2017-05-24 09:32] semonte commented on #87
Unfortunately Jackson does not support transforming YAML to JSON with merge keys and anchors (we use Jackson to transform YAML to JSON for Swagger UI).

[2017-05-24 09:34] semonte commented on #87
Thanks for the example spec, this is fixed now. I still need to make a release, should happen by the end of next week.

[2017-05-24 12:14] semonte commented on #88
@jamiethompson I assume this error is shown when Swagger UI is used? We use Jackson (https://github.com/FasterXML/jackson) to convert YAML to JSON and it does not support anchors unfortunately.

[2017-05-24 12:22] jamiethompson commented on #88
No, this is actually within the IDE. Those errors are taken from the "IDE Fatal Errors" dialog.

Regarding Swagger UI though, I do find that my YAML with anchors causes the Swagger UI to fail to generate, so thanks for the explanation why. Do you envisage any way around this in future?

[2017-05-24 12:46] semonte commented on #88
intellij-swagger version 0.0.29 (latest version) should not print those errors. There is really no way around it, only to avoid anchors and merge keys if Swagger UI is used.

I will keep an eye on Jackson to check if this will be supported in the future.

[2017-05-24 12:48] semonte commented on #85
Closing, nothing to do.

[2017-05-24 12:48] #85 closed, assigned to nobody

[2017-05-24 12:48] semonte commented on #84
Closing, nothing to do.

[2017-05-24 12:48] #84 closed, assigned to nobody

[2017-05-25 08:45] jamiethompson commented on #87
No problem. I look forward to the release 😄

[2017-05-25 08:49] jamiethompson commented on #88
Fair enough. Hopefully OpenAPI 3.0 will remove our need to use YAML anchors for keeping things DRY.

[2017-05-26 08:39] #88 closed, assigned to nobody

[2017-05-26 11:40] semonte commented on #87
FYI: I made a PR for JetBrains about anchors and aliases in YAML files. In the future we can hopefully jump to declaration by clicking an alias :) https://github.com/JetBrains/intellij-community/pull/577

[2017-05-26 12:33] jamiethompson commented on #87
Wow, thanks. That would make writing large specs so much easier.

[2017-06-07 05:49] semonte commented on #87
@jamiethompson The plugin has been updated, you should no longer see the errors.

[2017-06-08 09:25] jamiethompson commented on #87
Thank you. Updated today. Works a treat.

[2017-07-11 05:56] semonte commented on #80
Fixed in https://github.com/zalando/intellij-swagger/pull/92.

[2017-07-11 05:56] #80 closed, assigned to nobody

[2017-07-11 13:46] qianshengzj opened #94 "bug"
use allOf: 显示不正常

[2017-07-12 10:08] semonte commented on #94
@qianshengzj Can you elaborate a bit what is the issue?

[2017-07-17 06:48] #94 closed, assigned to nobody

[2017-07-28 10:21] semonte commented on #89
OpenAPI v3 is now officially released (https://swagger.io/announcing-openapi-3-0/). Specs can be found at https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md

[2017-07-28 11:11] semonte opened #95 "Improve autocompletion usability with YAML and quotes"
We are currently always wrapping the YAML values that need to be quoted inside single quotes. For example, using autocompletion for the following:
[code]
The result is:
[code]

Expected result is:
[code]

This is poor usability and should be fixed.

[2017-07-28 11:43] #95 closed, assigned to semonte

[2017-07-31 09:23] #65 closed, assigned to nobody

[2017-08-01 07:47] semonte opened #98 "Fix NPE"
We need additional null checks for the `beforeDocumentSaving` hook.
[code]

[2017-08-01 07:54] #98 closed, assigned to nobody

[2017-08-01 12:25] xenohunter commented on #89
@semonte hello! How soon its support will be added to the plugin?

[2017-08-02 07:13] semonte commented on #89
OpenAPI 3.0 support is at the top of the backlog, no other features will be added until OpenAPI 3.0 support is finished. My estimate is that it will be available in couple of months.

[2017-08-05 20:30] SunMar commented on #65
@lukx how do you actually get a browser preview? I can't find it, probably overlooking something. I have in Tools > Web Browsers my browsers configured. Thank you!

[2017-08-07 06:48] semonte commented on #65
@SunMar You can open the Swagger UI from the top right corner of the editor when you have a Swagger file opened:

![image](https://user-images.githubusercontent.com/1151536/29015122-0217ad0a-7b4d-11e7-8795-2665dd19f4ea.png)

[2017-08-09 18:27] semonte opened #100 "Swagger UI not working in PHPStorm"
See https://github.com/zalando/intellij-swagger/pull/97

`com/intellij/openapi/actionSystem/DataKeys` is specific to intellij, we need to use `PlatformDataKeys`.

[2017-08-09 19:09] #100 closed, assigned to nobody

[2017-08-11 05:36] dodalovic opened #102 "Error while indexing something.json"
[code]

[code]

[2017-08-16 06:31] semonte commented on #102
@dodalovic Thanks for reporting the issue. I am unfortunately unable to reproduce the issue. Does it happen with default settings in IntelliJ IDEA? Do you have some custom file type mappings?

[2017-08-16 06:41] dodalovic commented on #102
@semonte Can you pls help me understand *default settings* more precisely, since I customised my Intellij. I don't think I have custom file type mappings. Please, let me know how can I help more.

[2017-08-16 07:14] semonte commented on #102
Sorry for being unclear. If you install the latest version of IntelliJ IDEA (without importing current settings) and install the intellij-swagger plugin, does the error still appear?

[2017-08-16 07:15] dodalovic commented on #102
Requires too much work, I guess I can live with this issue. Thx

[2017-08-16 07:15] #102 closed, assigned to nobody

[2017-09-19 07:39] semonte commented on #89
Beta version is available at https://github.com/zalando/intellij-swagger/releases/tag/1.0.0-beta Please give it a try and create an issue if you encounter bugs!

[2017-09-27 09:35] semonte commented on #89
Closing this, OpenAPI support was added by https://github.com/zalando/intellij-swagger/pull/103. The core support is there, now it is a matter of gradually adding more functionality when needs arise.

[2017-09-27 09:35] #89 closed, assigned to nobody

[2017-09-27 09:37] semonte opened #104 "Add support for external component references"
`$ref` values should also work for file references. The current implementation supports only references in the same file.

[2017-09-29 06:55] TiMESPLiNTER opened #105 "Render documentation with swagger-ui"
It would be great to have the swagger/openAPI file rendered on the fly using swagger-ui in a split screen view.

[2017-09-29 20:15] maclonghorn opened #106 "Nothing rendered"
Installed the 1.0.0 release, PHPStorm 2017.2.4.
I have an existing YML file that worked with the previous release.  When I click the browser icon to view, i only get a header, nothing else, no errors, etc.

[2017-10-02 14:37] semonte commented on #106
@maclonghorn are you 100% sure it is the exact same file? Empty Swagger UI is shown if the conversion from YAML to JSON fails.

[2017-10-02 21:21] maclonghorn commented on #106
Yes, same file.  However, I removed a bunch of code to simplify it (about 100 lines remaining) and it worked fine.  Then I added those lines back and it's working.  Something getting cached?

[2017-10-03 12:32] semonte commented on #106
The Swagger UI is updated every time the file is saved, this is done asynchronously. Refreshing the swagger UI immediately after a save might not display the latest version. Perhaps this was the case.

@maclonghorn if this is causing you more issues, please get back to me.

[2017-10-03 12:32] #106 closed, assigned to nobody

[2017-10-03 14:18] maclonghorn commented on #106
No, that wasn't it.  PHPStorm always saves automatically, and I refreshed several times.  Plus, if that were the case, I would at least see something, instead of just the header/search.

[2017-10-09 12:32] semonte commented on #105
@TiMESPLiNTER That would be great indeed. If someone has knowledge already on how to do that, please contribute :) I will look for possible solutions if no one picks this up.

[2017-10-18 09:37] chmika opened #107 "Issue on caching with Swagger UI"
I worked on a yaml file, I used the icon to see the rendring on the browser, but I'm not getting the file I'm working on but the one i worked on before, I think it need a way to refresh the content of the file generated for the browser rendring.

Regards.

[2017-10-19 06:22] semonte commented on #107
Thanks for the issue. The Swagger UI is rendered each the the spec file is saved, overwriting whatever existed before. Can you confirm that saving the file and reloading the browser works for you?

[2017-10-19 08:37] chmika commented on #107
Hi, thanks for your response,
Yes all files are saved, I have many swagger files, when I change the active file on intellij and I click on  the browser icon to desplay swager UI rendring, I have an old file on swagger UI, to bypass this behavior, each time I have to delete manually the temporary repository  ..../AppData/Local/Temp/swagger-ui1234

[2017-10-19 19:39] Guido125 commented on #107
Can confirm - having the same issue myself. I've been typing a character in the file tab that has focus as a work around.

Similar issue - changing branches through terminal isn't triggering an update either.

[2017-10-19 20:19] Guido125 opened #108 "Swagger UI not OAS 3.0 Capable"
I used [this](https://raw.githubusercontent.com/OAI/OpenAPI-Specification/OpenAPI.next/examples/v3.0/petstore.yaml) to generate a page using swagger UI. However, there are a number of things missing when comparing it to the generated page from editor.swagger.io - the main one being all endpoint responses.

I think the cause is due to the version of Swagger UI used. The first Swagger UI release to

[2017-10-20 05:52] peterleng opened #109 "when i finish yml files ,how to make to json file?"
when i finish yml files ,how to make to json file?

[2017-10-20 06:28] semonte commented on #107
Ok I understand the issue. As a fix, I the Swagger UI will be always re-rendered when the browser icon is clicked. If working with the same file, the UI is rendered on the fly when the spec file is saved.

Do you have other ideas or suggestions?

[2017-10-20 06:34] semonte commented on #108
Thanks for the issue. The Swagger UI indeed should be updated to the newest version. @Guido125 would like to make a PR :) ?

[2017-10-20 07:01] semonte commented on #107
@Guido125 @melamm can you verify that the fix works for your use cases by installing the attached version manually?
[intellij-swagger.zip](https://github.com/zalando/intellij-swagger/files/1401000/intellij-swagger.zip)

[2017-10-20 08:26] stessy commented on #107
Hi,

I had the same issue.
I just installed the version you provided and the problem seems to be solved.
When I edit a yaml the changes are reflected when I preview it in the browser.
When I switch to another yaml and I preview it, the new one is correctly displayed in the browser.

Thanks for the quick fix.
Kind regards.

[2017-10-20 09:57] chmika commented on #107
Hi;
Yes the issue is fixed with the new version, thanks @semonte

Regards

[2017-10-20 10:57] semonte commented on #107
Great, I will publish the new version next week in the JetBrains plugins repository. Thanks for the help!

[2017-10-20 11:20] semonte commented on #109
Hi, `intellij-swagger` plugin does not offer that functionality. To convert from YAML to JSON you can use an online converter (as an example).

[2017-10-20 11:20] #109 closed, assigned to nobody

[2017-10-20 17:21] Guido125 commented on #108
Never done any plugin development before - just Android (Android Studio is IntelliJ based). I did a quick search, but I didn't find an easy way to get started. What links would you recommend?

[2017-10-23 06:16] semonte commented on #108
I started by reading https://www.jetbrains.org/intellij/sdk/docs/welcome.html and testing things out. Looking at different plugin and intellij source code is also helpful. Let me know if you need any help!

[2017-10-23 06:20] #107 closed, assigned to nobody

[2017-10-24 09:55] Frevant opened #111 "Problem with markdown in description"
Not really important, but ...

When using markdown in a description field, it is ignored when rendered:

_online editor result:_
![2017-10-24 11_51_07-swagger editor - internet explorer](https://user-images.githubusercontent.com/29484427/31936445-dfcf01d8-b8b1-11e7-9a7b-c37434182baf.png)

_plugin result:_
![2017-10-24 11_50_40-swagger ui](https://user-images.githubusercontent.com/29484427/31936454

[2017-10-25 05:57] semonte commented on #111
@Frevant thanks for reporting the issue. Is the spec YAML or JSON?

[2017-10-30 13:17] semonte opened #113 "Remove unused classes"
Swagger UI does not need `src/main/java/org/zalando/intellij/swagger/ui/SwaggerOpenInBrowserBaseGroupAction.java` and `src/main/java/org/zalando/intellij/swagger/ui/BaseWebBrowserAction.java`. Those can be deleted.

[2017-11-01 07:33] #104 closed, assigned to nobody

[2017-11-01 07:33] #113 closed, assigned to nobody

[2017-11-03 16:59] dmolesUC opened #115 "Browser icons open UI in other browsers, but not Chrome"
For some reason the Chrome URI is

[code]

(which produces "Your file was not found"), while the Safari and Opera URI is

[code]

Here's my system info:

[code]

[2017-11-04 20:58] semonte commented on #115
It seems that the JetBrains IDE Support (https://chrome.google.com/webstore/detail/jetbrains-ide-support/hmhgeddbohgjknpmjagkdomcpobmllji?hl=en) Chrome extension is intercepting the file URL. I can only suggest you to use another browser when using the Swagger UI ...

[2017-11-15 17:12] xp-vit opened #118 "Add ability to validate swagger file"
When I paste the content of my swagger file to http://editor.swagger.io/ it reports a lot of errors(bad indentation, semantic errors, schema errors), while plugin itself doesn't report anything.

This is the request to add the ability to provide the same level of validation in the plugin. To achieve this we can go following ways:
1. Implement validations in plugin
2. Use the http://editor.swagger.

[2017-11-17 12:24] semonte commented on #108
Fixed in https://github.com/zalando/intellij-swagger/pull/117/commits/fc1625989d1849af34578af912147dd1ace5c4e0

[2017-11-17 12:24] #108 closed, assigned to nobody

[2017-11-20 16:00] ynodir commented on #108
@semonte when's the next release with this issue fixed?

[2017-11-21 11:54] semonte commented on #108
@ynodir I will aim to release this week.

[2017-11-23 07:26] semonte commented on #118
@xp-vit Thanks for creating the issue. There is already some validation for Swagger files, but it is not complete. Can you post the spec file for testing purposes?

[2017-11-24 15:45] #115 closed, assigned to nobody

[2017-11-25 21:07] mehere14 opened #120 "Autocompletion not working on latest Webstorm-EAP (for mac)"
I recently downloaded the latest version of this plugin through Preferences->Plugins->Browse repositories.

While editing a .yaml file, the autocomplete feature is not working and does not suggest even when ctrl+space is used.

[2017-11-25 21:13] mehere14 commented on #120
Its working after I renamed the file with a .yaml extension. For some reason, even though the file was created as a yaml file, it didn't have an extension. Also to note, .yml extension doesn't work as shown in the Gif.

[2017-11-25 21:13] #120 closed, assigned to nobody

[2017-11-29 13:44] dgrothaus-ku opened #121 "Autocomplete won't work for non-project files and scratches"
### Description

Autocomplete stopped working several versions ago. I just can't get it working any more. I'm writing my Swagger specs mainly in JSON, but added a YAML example for proof.

Autocomplete won't ever appear automatically and manually invoking autocomplete just shows _No suggestion_.

I already tried renaming to swagger.<ext> with no success as well as invalidating caches.

### Examples

[2017-11-30 07:47] semonte commented on #121
@dgrothaus-ku Thanks for reporting the issue. I tried to reproduce the issue by installing PHPStorm and the mentioned plugins, all worked well. I have a mac so maybe it is Windows related; I need to test that later.

[2017-12-01 09:30] dgrothaus-ku commented on #121
I can reproduce this with a fresh Windows 10 VM and a newly installed PhpStorm. After VM creation and PhpStorm installation the only thing I did was installing the plugin. Same behaviour: No autocomplete, no suggestion.

[2017-12-04 09:14] semonte commented on #121
I tested with VirtualBox and Windows 10, I still can't reproduce this! See screenshot:

![image](https://user-images.githubusercontent.com/1151536/33544579-9d7939a8-d8db-11e7-86e3-a1f4af27e5e5.png)

I created a new "PHP Empty Project", added a `swagger.yaml` file. After adding a `swagger` field to the YAML document, the autocompletion kicked in. Can you make sure that the plugin installed successf

[2017-12-04 09:37] dgrothaus-ku commented on #121
I evaluated again and the problem seems to be with files not belonging to the project, like scratch files and files dropped into the IDE.

To reproduce, please create a new scratch file and try auto-completion there.

[2017-12-04 09:55] semonte commented on #121
@dgrothaus-ku Thanks for debugging this, that is indeed an issue and should be fixed!

[2017-12-19 13:05] semonte opened #122 "$ref value is not autocompleted in all required places"
`$ref` autocompletion does not work in the following case:

[code]

[2017-12-19 14:44] #122 closed, assigned to nobody

[2017-12-25 12:07] ettavolt opened #126 "Reparses on changes in unrelated files."
This greatly slows down IDEA's inspections.
To reproduce:
1. Open a large Swagger file (mine is ~10k lines).
1. In a 'split view' open some other file (like simple text one). You should have both Swagger and 'trigger' file visible.
1. Wait for initial parse to finish (you'll see inspections indicator above scrollbar as some icon but an eye).
1. Edit the other file.
1. Observe eye indicator for bot

[2017-12-27 19:31] semonte commented on #126
Thanks for reporting the issue, I have verified that the inspections do take a long time with a big file.

I also tested this with other file types. The analysis is triggered in a split view regardless of the file type, so this behaviour is not intellij-swagger plugin related.

Is the slow analysis causing you issues? Sure it should be faster, but I would like to prioritize this first.

[2017-12-28 08:01] ettavolt commented on #126
[Filed issue for JetBrains.](https://youtrack.jetbrains.com/issue/IDEA-184358)
I forgot to add here that edited file is not highlighted until inspections in all views are run. Not sure if JetBrains finds a way to break the bonds, so speeding up analysis may be the only solution.
Is it possible to analyze kind of 'incrementally', of what has changed?

[2017-12-30 11:17] #59 closed, assigned to nobody

[2017-12-31 12:16] semonte commented on #105
Fixed in https://github.com/zalando/intellij-swagger/pull/124

[2017-12-31 12:16] #105 closed, assigned to nobody

[2018-01-02 09:05] semonte opened #127 "Embedded Swagger UI encoding issue"
See screenshot:

![image](https://user-images.githubusercontent.com/1151536/34479000-68eeca24-efa4-11e7-8c24-a2b291cf7667.png)

[2018-01-02 09:06] semonte commented on #127
@irishshagua Do you have an idea what could be the issue?

[2018-01-02 09:25] semonte commented on #127
Might be related to https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8175802

[2018-01-02 10:11] irishshagua commented on #127
Haven't seen that. @semonte do you have some steps to reproduce? I'm using a mac and was building locally with java 1.8.0_151 and cannot reproduce... :-/

[2018-01-02 10:43] semonte commented on #127
I just open a Swagger file. I have also a Mac with java 1.8.0_151.

Here is the zip file:

[intellij-swagger.zip](https://github.com/zalando/intellij-swagger/files/1597364/intellij-swagger.zip)

[2018-01-02 14:14] irishshagua commented on #127
I'll try and have a look tonight...

[2018-01-07 12:51] irishshagua commented on #127
I tried to reproduce this again on 2 seperate setups (mac and linux) but no joy... :-/
I'm kinda stumped as to how to even start investigating. According to the linked bug this should be fixed in 8u152:
https://bugs.java.com/bugdatabase/view_bug.do?bug_id=8088205

🤷‍♂️

[2018-01-09 07:43] semonte commented on #127
Ok, that is weird indeed. I will try to fix this by changing the font to something that is installed as default in OS.

[2018-01-13 13:47] semonte commented on #127
@irishshagua I fixed the font issue by removing the Google fonts from Swagger UI. The fonts did not work on my setup and probably other users would have experienced the same issue.

I will publish a new version of the plugin next week to get this out in the open!

[2018-01-13 13:47] semonte commented on #127
Fixed in https://github.com/zalando/intellij-swagger/commit/5ebba5bf63cf3e76d0deab683e755aa9f502d724

[2018-01-13 13:47] #127 closed, assigned to nobody

[2018-01-16 19:24] ericraymond opened #128 "Splitting editor window hangs UI"
With the latest versions of plugin and Idea, if you split a swagger window (vertically or horizontally), the IDE hangs with a spinning rainbow mouse cursor (at least on OSX High Sierra).  Hangs entire IDE (including other projects that are open).

Notet that the split window has a top row with three icons:
![image](https://user-images.githubusercontent.com/22483767/35007734-5cdca0ba-faaf-11e7-94db

[2018-01-17 14:46] hilmarv opened #129 "Swagger UI preview does not work under windows"
Tested on Windows 10 with WebStorm and Rider. The Swagger UI only shows a white canvas. The context menu has only one entry: Reload page. But that leaves you with the same white canvas.

[2018-01-22 14:45] robtha commented on #129
I have the problem running the plugin with intellij idea 2017.3 under windows 10.
No swagger ui shown, no error message.

[2018-01-22 15:28] bartroodzant commented on #129
I have the same issue running PHPStorm 2017.2.2 and after I updated to PHPStorm 2017.3.3 on Windows 10.

[2018-01-22 15:58] semonte commented on #129
Thanks for reporting an issue.

Are you facing the issue with the embedded Swagger UI inside the IDEA or in the Swagger UI that is shown in the browser by clicking a browser icon at the top right corner? Or both?

[2018-01-22 15:59] semonte commented on #128
Thanks for reporting an issue.

Are you able to provide an example Swagger spec so that I could reproduce the issue?

[2018-01-22 16:38] robtha commented on #129
for me, the problem only occures with the embedded swagger ui inside IDEA

[2018-01-23 08:19] semonte commented on #129
@irishshagua Would you have time to look at this issue? This probably has something to do with how file paths are different in OS X vs Windows.

[2018-01-23 19:39] shayded-exe opened #130 "Cursor keeps disappearing"
When I open a swagger file or switch between tabs in split view via keyboard shortcut, the cursor disappears and I have to click inside the file to get it back.

I didn't used to have this issue before the release that added the little toolbar at the top of swagger files.
I rely almost entirely on keyboard shortcuts so this issue pretty much means I have to disable the plugin for now.

If the over

[2018-01-24 07:17] semonte commented on #130
@PachowStudios Thanks for reporting an issue. I don't know what is causing the issue at the moment, but as a workaround you can download the previous version 1.0.3 from https://plugins.jetbrains.com/plugin/8347-swagger-plugin?

I was able to reproduce the issue, so it's a start :)

[2018-01-24 07:52] irishshagua commented on #129
Will do. Just need to find a windows machine to play with... :)
Are there any logs or errors in the event log when this happens?

[2018-01-24 09:33] esiha commented on #129
@irishshagua No errors or logs whatsoever in the event log :(

[2018-01-24 12:21] semonte commented on #129
@irishshagua I was able to reproduce the issue with virtual machine https://developer.microsoft.com/en-us/windows/downloads/virtual-machines

[2018-01-26 14:46] Frevant commented on #129
Just for information:
Have same issue with Intellij 2017.3.1, running on windows 7 enterprise Service Pack 1, swagger plugin version 1.0.4
Only with embedded version. Clicking and opening in external browsers (IE and Chrome) works fine.

[2018-01-26 19:22] hskrasek opened #131 "Plugin not detecting openapi3 yaml file"
Just installed the plugin and started working on an OpenAPI 3 spec file, but none of the auto complete or Swagger-UI options are showing up. I've seen that OpenAPI 3 support was added and supported, so not sure whats wrong.

PhpStorm 2017.3.3
Build #PS-173.4301.34, built on January 18, 2018
JRE: 1.8.0_152-release-1024-b11 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.13.2

[2018-01-26 22:47] irishshagua commented on #129
Apologies for the delay. Had a go-live this week so was up to me tits... :)
Fix for the issue is here. Silly mistake on the paths.... my bad....

https://github.com/zalando/intellij-swagger/pull/132

[2018-01-27 12:27] semonte commented on #129
Fixed in https://github.com/zalando/intellij-swagger/pull/132

[2018-01-27 12:27] #129 closed, assigned to nobody

[2018-01-27 12:32] semonte commented on #131
Thanks for reporting an issue. Do you have an example file or a screenshot? I am not able to reproduce the issue.

[2018-01-27 12:34] semonte commented on #126
I don't think so. I will investigate if there are some clear reasons why the inspections are slow. Keeping this open for now.

[2018-01-28 20:43] hskrasek commented on #131
Here an example file in YAML format:

[code]

[2018-01-30 12:34] bademux opened #133 "[Bug] multiple errors 'Unable to save settings: Failed to save settings. Please restart IntelliJ IDEA'"
Plugin version 1.0.5
Idea 2016,04.1

<details>
  <summary>Log. Click to expand</summary>
null
java.lang.AbstractMethodError
	at com.intellij.openapi.fileEditor.impl.IdeDocumentHistoryImpl.a(IdeDocumentHistoryImpl.java:496)
	at com.intellij.openapi.fileEditor.impl.IdeDocumentHistoryImpl.e(IdeDocumentHistoryImpl.java:214)
	at com.intellij.openapi.fileEditor.impl.IdeDocumentHistoryImpl.onCommandStart

[2018-01-31 11:37] jnazander opened #134 "Going into $ref not working"
Going into `$ref` by ctrl+clicking on the reference doesn't seem to work in most cases - it only works when it's either a reference to another file, or when it's in the format "#/definitions/[somekey]"

If I just have a local reference that doesn't have the string "definitions" in it, it fails to go to it.

Simplest example:

![image](https://user-images.githubusercontent.com/4726607/35620301-711a

[2018-02-03 13:33] semonte opened #135 "Embedded Swagger UI is updated unnecessarely"
Currently the embedded Swagger UI is updated, even if the UI is not opened. This makes saving a bit laggy.

[2018-02-04 20:42] semonte opened #137 "Embedded Swagger UI does not work with multiple files"
Embedded Swagger UI shows the same UI when there are multiple Swagger files opened. Only the most recent save is used for the UI.

[2018-02-04 20:43] #135 closed, assigned to nobody

[2018-02-05 07:02] #137 closed, assigned to nobody

[2018-02-05 07:13] semonte commented on #134
Thanks for reporting an issue. The examples are not valid in Swagger specification, so the references do not work. For example, `paths` can't have a child named `$ref`.

[2018-02-05 07:21] jnazander commented on #134
@semonte the first picture is a valid Swagger specification. Swagger supports linking external files, using $ref, right? And these external files can be in free form (if, for example, I extract one model definition into a separate `definition.yaml`, then the contents of it can be any node hierarchy I want)

[2018-02-05 07:30] junpayment commented on #131
@hskrasek
I think it's due to the previous version of swagger-ui and swagger-editor did not support OAP version 3.
They support that now, so I think it will work now.

https://swagger.io/blog/support-for-oas-3-0-in-swagger-editor-and-swagger-ui/

[2018-02-05 08:25] thorstenspringhart opened #139 "Structure ist no longer available window is emtpy ("No structure")"
I am using the plugin with Rubymine. Since the last update of the plugin, the structure of the swagger.yaml is not longer available, only "No structure" is shown
The structure window is very helpful to navigate in big swagger files...

[2018-02-05 08:50] #133 closed, assigned to nobody

[2018-02-05 12:53] semonte commented on #134
Can you paste a code example of what should work? The `$ref` key can't be placed in all places, for example under the `paths` key.

[2018-02-05 13:15] jnazander commented on #134
My first screenshot is a perfectly valid example of what should work. Suppose that it's a file called MyDefinition.yaml and it's referenced somewhere in the main `swagger.yaml` file like this:

`$ref: "MyDefinition.yaml#/foo"`

[2018-02-06 12:31] MaxVynohradov opened #141 "AWS API Gateway Swagger type support"
It's rely cool if intellij-swagger will be support AWS API Gateway features, such as  _x-amazon-apigateway-integration_ parameter etc.

Also Swagger Hub support AWS type of Swagger Configuration: https://swagger.io/blog/aws-getting-some-swagger-the-new-aws-api-gateway/

[2018-02-08 17:45] pvince commented on #139
I have seen the same thing using:

I have also noticed that restarting IntelliJ resolves the issue temporarily. I have not noticed a particular action that causes the 'Structure' to revert to 'No Structure', other than at some point during the day I will switch back to the 'Structure' tab and it will not be populated.

[2018-02-08 21:30] semonte commented on #139
Thanks for reporting an issue.  The new version 1.0.7 at https://plugins.jetbrains.com/plugin/8347-swagger-plugin will fix the structure view, it is pending for an approval.

[2018-02-09 11:33] semonte commented on #130
@PachowStudios are you still experiencing the issue with the latest version 1.0.7?

[2018-02-09 13:13] semonte commented on #134
Ok got it, that needs to be fixed indeed!

[2018-02-09 23:43] morgs32 opened #142 "References don't work if the definition key contains a dot"
It doesn't seem to work in webstorm. Is that expected?

[2018-02-10 12:57] semonte commented on #142
Thanks for reporting an issue.

I tested with the following Swagger specification and it is working with WebStorm 2017.3. If you are still experiencing the issue, can you share a sample of the specification?

[code]

[2018-02-10 13:16] semonte commented on #141
Thanks for creating an issue.

That would be a nice feature indeed. If there is demand for this, it should be implemented. But for now, there are other features in the backlog that take priority. @MaxVinogradov would you like to contribute to this feature? :)

[2018-02-13 15:06] semonte opened #143 "Opening Swagger spec hangs IDEA sometimes"

[2018-02-15 17:03] shayded-exe commented on #130
The new text-only editor works great just like it used to on 1.0.7!

The Swagger UI editor still has the issue of course, but that's fine by me considering that I can't even use it because I have a lot of linked yaml files, which the editor doesn't support. I might open a separate issue for that and dig through the code to see if I can get it working.

[2018-02-15 19:59] semonte commented on #130
Great! I will close this issue then.

[2018-02-15 19:59] #130 closed, assigned to nobody

[2018-02-15 20:08] semonte commented on #131
I tested this with PhpStorm with the given sample, I can't reproduce the issue. @hskrasek are you still experiencing this with the latest version of the plugin (1.0.7)?

[2018-02-15 20:09] semonte commented on #75
Closing this due to inactivity.

[2018-02-15 20:09] #75 closed, assigned to nobody

[2018-02-15 20:10] semonte commented on #78
FYI: this is still planned to be implemented, although the issue is quite old.

[2018-02-15 20:11] semonte commented on #126
Closing this, not much I can do about this.

[2018-02-15 20:11] #126 closed, assigned to nobody

[2018-02-15 20:12] #139 closed, assigned to nobody

[2018-02-15 20:31] hskrasek commented on #131
@semonte I'm actually on 1.0.5, can't seem to see the 1.0.7 update yet. But my bad everyone, the plugin is now working. Only thing I noticed is that I have to create the file first with `openapi: 3.0.0`, close the file and then re-open it for the IDE to recognize it. But that might just be a 1.0.5 thing

[2018-02-16 07:00] semonte commented on #131
Ok, glad to hear that!

[2018-02-16 07:00] #131 closed, assigned to nobody

[2018-02-16 07:01] semonte commented on #142
@morgs32 are you still experiencing the issue?

[2018-02-20 11:03] zersetz-end opened #144 "vendorExtension causes crash of plugin"
OpenAPI defines vendorExtensions as follows:
[code]
Which means that below a "^x-" property everything is allowed. Unfortunately if you for example try to define such an vendorExtension beneath the "paths" element the plugin crashes, unless every element beneath is also prefixed with "x-".

So, OK:
[code]
Not OK, but should be:
[code]
Exception:

java.lang.NoClassDefFoundError: javafx/scene/Parent

[2018-02-21 12:44] ghost commented on #144
I'm seeing much the same thing, but I'm getting the error on any yaml file I try. I was working with a yaml file, restarted Android Studio, and after the restart, the plugin no longer works. I'm using Android Studio 3.1 beta 3 and 1.0.7 of this plugin.

[code]

[2018-02-21 14:30] #144 closed, assigned to nobody

[2018-02-21 14:40] semonte commented on #144
Version 1.0.8 is pending for an approval. It will fix the issue.

[2018-02-21 14:46] morgs32 commented on #142
@semonte Sorry.
It is working with your swagger doc.
But it's not working with this one  - in case you can guess why?
[code]

[2018-02-21 19:01] semonte commented on #142
@morgs32 It seems that the dots in the key (e.g. `v1.0_HealthCheck`) is the cause of issues. This should be fixed, as it is still a valid YAML file. For now, you can just rename the responses and definitions so that they don't contain a dot.

[2018-02-22 19:01] semonte commented on #128
Split view has been disabled for now.

[2018-02-22 19:01] #128 closed, assigned to nobody

[2018-02-22 19:02] semonte commented on #143
Split view has been disabled for now.

[2018-02-22 19:02] #143 closed, assigned to nobody

[2018-02-25 07:04] ari opened #146 "Doesn't detect openapi: 3.0.0 file"
If the file is not called swagger.yml (because we have several swagger schemas in the project), then this plugin doesn't detect the file as being a swagger file when it starts with:

`openapi: 3.0.0`

[2018-02-25 07:15] ari commented on #146
I notice now that this looks like a duplicate of #131 however it is still a problem for me with Intellij Ultimate 2017.3 and 1.0.8 of this plugin.

Renaming the file to swagger.yaml didn't help. And 'swagger: 3.0.0' in the header causes the file to be detected as a swagger 2.0 version (going by the validation errors it found).

[2018-02-25 11:17] semonte commented on #146
Thanks for reporting an issue.

Can you be more specific, what doesn't work (autocompletion, reference, validation, etc.)?

[2018-02-25 14:05] ari commented on #146
Since this is my first time using the plugin, I wasn't sure what it was supposed to do. There is no obvious UI that it has attached itself to a file. In my case, I was looking for validation errors. Even when I changed the file to clearly wrong swagger, there was no error.

Changing the first line to 'swagger: 2.0' give me errors I was expecting to see.

[2018-02-26 08:06] semonte commented on #146
The Open API 3 validation is still non-existent. You should be able to navigate and refactor references, see autocompletion options and browser icons at the top right corner (it opens Swagger UI).

![image](https://user-images.githubusercontent.com/1151536/36659275-35f01c58-1ad4-11e8-9cba-74e97055f86f.png)

I will continue to add more features to Open API 3.

[2018-02-26 08:22] ari commented on #146
Oh, I was confused by #108 I thought that meant the 3.0 libraries were already added for validation. I'll close this task then.

Its hard to tell because this plugin has no readme and no configuration and no UI, so it operates completely silently in the background. Which is nice when it works, but a bit hard to see what it is doing.

[2018-02-26 08:22] #146 closed, assigned to nobody

[2018-02-28 11:27] isadovskiy commented on #142
Having the same issue, I have a lot of dots in my definitions due to our naming conventions. So can't just get rid of them

[2018-03-14 14:28] semonte opened #148 "Add support for informational HTTP status codes"
We should include 1xx response codes for auto completion. https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#1xx_Informational_responses

[2018-03-16 10:16] semonte commented on #142
This has proven to be more difficult than I imagined. For some reason, IntelliJ is restricting renaming a key with a dot (check https://github.com/JetBrains/intellij-community/blob/306d705e1829bd3c74afc2489bfb7ed59d686b84/plugins/yaml/src/org/jetbrains/yaml/YAMLUtil.java#L240). This means that `intellij-swagger` plugin can't be made to support the dots 100%. Navigating to them will work, but renam

[2018-03-16 10:53] #142 closed, assigned to nobody

[2018-03-16 14:32] morgs32 commented on #142
Thanks for trying! Someday I may be able to change our swagger habits. Glad for the plugin nonetheless!

[2018-03-16 14:39] isadovskiy commented on #142
Thank you very much!

Do you know when the updated plugin version will be available in plugins repo for update?

[2018-03-16 20:09] semonte commented on #142
I will publish it next early next week. 👍

[2018-03-20 10:15] semonte commented on #148
Fixed in https://github.com/zalando/intellij-swagger/pull/150.

[2018-03-21 07:56] #148 closed, assigned to nobody

[2018-03-28 05:48] jimirocks opened #151 "UI should support swagger split into more files"
i.e.
[code]

And in `test.yml` in the same directory
[code]

The UI reports:
```Could not resolve reference because of: Tried to resolve a relative URL, without having a basePath. path: 'test.yml' basePath: 'undefined'```

[2018-03-29 02:09] glukki opened #152 "$ref value is not autocompleted in `parameters` of `Path Item Object`"
[code]

Please notice, that references may link only to `Swagger Object`'s `parameters`: `#/parameters/...`

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#path-item-object

[2018-04-02 17:04] #152 closed, assigned to nobody

[2018-04-02 17:04] semonte commented on #152
Thanks for reporting the issue @glukki. The fix will be part of the next release.

[2018-04-05 17:22] keilw opened #154 "Which IntelliJ versions are compatible with this plugin?"
I installed this plugin from the IntelliJ plugin repository and it also shows as being installed but it won't be used when I edit a Swagger YAML file. Is there any activation or is it only compatible with certain versions of IntelliJ?

Thanks.

[2018-04-06 09:32] keilw commented on #154
Looks like it's working after all, the breadcrumbs shown in the screenshot are not the default (bottom) after the plugin is installed.

[2018-04-06 09:32] #154 closed, assigned to nobody

[2018-04-06 09:34] keilw commented on #118
I changed a datatype to an incorrect "objekt" instead of "object" which the Swagger online editor flags as invalid, but the plugin currently does not.

[2018-04-06 12:58] semonte commented on #154
@keilw Good to hear this was not an issue after all.

[2018-04-06 12:59] semonte commented on #118
@keilw Thanks for the feedback.

Validation has not been worked on recently. Now that the Open API support is mostly done, proper validation could be next in the priority list.

[2018-04-08 11:38] semonte commented on #151
Thanks for the suggestion. Unfortunately this is difficult to implement due to how the Swagger UI works with the plugin. In case you want to use display local files in Swagger UI with all the features, I suggest using the following approach https://github.com/swagger-api/swagger-ui/issues/1110#issuecomment-155873088

[2018-04-20 13:02] aprokopenko opened #155 "Autocomplete/$refs doesn't work for yaml splitted into files"
Hi,

I want to organize the API docs into several files, because it's easier to manage them.

I have main file `swagger.yaml`. Then I want to separate routes and models into different files.

Let's start with models. If I do a simple ref:

[code]

And create `user.yaml` like this:
[code]

Then autocompletion doesn't work. Because it's missing `openapi:3.0` header. And there is no way to set this f

[2018-04-21 11:35] semonte commented on #155
@aprokopenko Thanks for reporting an issue.

This issue relates to https://github.com/zalando/intellij-swagger/issues/134. PR https://github.com/zalando/intellij-swagger/pull/156 fixes the issue that references do not work in referenced files.

[2018-04-21 11:59] #134 closed, assigned to nobody

[2018-04-23 08:16] semonte opened #157 "`items` keys not always auto completed"
For example

[code]

[2018-04-23 09:24] aprokopenko commented on #155
Does your PR's available on Jetbrains plugin repo at once? My Storm doesn't notify me about any updates.
Or is there a way to install a "nightly build"?

[2018-04-23 20:55] frankandrobot opened #158 "Why doesn't tab work?"
Can't seem to tab to indent. Have to manually add spaces... which can be unreliable.

[2018-04-24 17:13] #157 closed, assigned to nobody

[2018-04-24 17:23] semonte commented on #155
You can download the latest release at https://github.com/zalando/intellij-swagger/releases/tag/1.0.11  (`intellij-swagger.zip`). I'll add it to the JetBrains repo soon, it still needs to be approved manually though (JetBrains process).

[2018-04-25 07:34] maarten00 commented on #155
The autocomplete issue is still broken sadly. I can fix it by adding `swagger: 2.0` at the top, but this raises another issue because the file is now marked as invalid:

![screen shot 2018-04-25 at 09 35 07](https://user-images.githubusercontent.com/1579711/39231938-f935e14c-486b-11e8-96bd-65bfcb5e1052.png)

[2018-04-25 09:20] semonte commented on #155
Yes that is expected, the latest release fixes the references inside a referenced file. This issue remains open.

[2018-04-25 09:22] semonte commented on #155
@maarten00 As I understand the auto completion does not work in a file that is referenced by another referenced file? Auto completion should still work if the file is directly referenced from the main spec, can you confirm?

[2018-04-25 09:51] maarten00 commented on #155
Not for me. My definitions in my main file are as follows;
[code]
As you can see the files are in a sub-folder. Autocomplete only works in the main file.

[2018-04-25 10:29] aprokopenko commented on #155
Hi @semonte ,

My main issue about references are works fine. Great thanks for a quick fix!

Issues from @maarten00 is not related to my main topic. So if you have another issue for that - you can close this one.

[2018-04-26 06:09] maarten00 opened #160 "Autocomplete doesn't work for yaml split into multiple files"
I have a main file which contains three refs:

[code]

Autocomplete works in this file. I can use cmd+click to view the files. Autocomplete does not work in the referenced files. I can fix it by adding `swagger: '2.0'` to the top, but this raises a syntax error:
![screen shot 2018-04-25 at 09 35 07](https://user-images.githubusercontent.com/1579711/39288588-dff9e5b2-4928-11e8-9c82-2593db6d885f.png

[2018-04-26 06:11] maarten00 commented on #155
Sorry, It hought you were also having issues with autocomplete, I had no intention of hijacking your issue. I've gone ahead and opened a new issue for autocomplete: #160.

[2018-04-27 21:44] redmachine2 opened #161 "Plugin can be applied to spring boot application yaml definitions."
Because the plugin is checking for a root key of "swagger", a spring boot application.yml with a swagger root gets detected as a spec file. This causes an application.yml file to have a whole bunch of errors which are annoying.

Locally I was able to fix by requiring the filename to at least contain "swagger" or "spec" before it would be considered a swagger file, but I'm not sure that fits all us

[2018-04-28 10:19] semonte commented on #161
@redmachine2 thanks for creating the issue.

We could make the existing Swagger spec detection more specific. For example, check that the file contains a root key `swagger` with a value `2.0`. Similar implementation could be done for an Open API file. How does that sound?

[2018-04-28 10:20] semonte commented on #160
@maarten00 thanks for creating the issue. This needs a fix indeed!

[2018-04-28 11:00] semonte commented on #158
@frankandrobot thanks for creating an issue.

Can you be more specific? Is the issue only with swagger files or does it apply to all YAML/JSON files?

[2018-04-29 11:59] #160 closed, assigned to nobody

[2018-04-29 16:54] semonte commented on #158
Ok, closing then.

[2018-04-29 16:54] #158 closed, assigned to nobody

[2018-04-29 17:05] semonte commented on #141
Closing, this will likely never be implemented in the plugin.

[2018-04-29 17:05] #141 closed, assigned to nobody

[2018-04-29 17:06] semonte commented on #151
Closing, this is something that can't be fixed in the plugin itself.

[2018-04-29 17:06] #151 closed, assigned to nobody

[2018-04-29 17:07] semonte commented on #155
@aprokopenko great, I'll close this then.

[2018-04-29 17:07] #155 closed, assigned to nobody

[2018-04-30 17:49] redmachine2 commented on #161
@semonte  That works for me, I'll try and work on that this week.

[2018-05-05 05:12] mattzuba commented on #141
Would you still accept a PR for this @semonte?

[2018-05-05 10:19] #161 closed, assigned to nobody

[2018-05-05 10:20] semonte commented on #141
Yes I definitely would 👍

[2018-05-08 05:37] burliayeu opened #164 "Can't find the Swagger UI buttons"
Hi,
I've updated to the latest version and now I can't find the Swagger UI buttons.
Version 1.0.5 works for me, but any newest version doesn't have these buttons in the top on the editor tab.
Were they moved somewhere? Where to find them?
Thanks.

*IDEA 2018.1.3 RC on Windows 10.

[2018-05-08 06:23] semonte commented on #164
Do you mean these buttons:
![image](https://user-images.githubusercontent.com/1151536/39741177-792ae958-52a1-11e8-839c-edd36e9d15d0.png)

They should still be there, can you share the spec file?

[2018-05-08 16:10] burliayeu commented on #164
Nope, I talked about these
![s1](https://user-images.githubusercontent.com/12219746/39768947-60de41fe-52f3-11e8-80a6-bb7b2d0170f2.PNG)

[2018-05-09 06:06] semonte commented on #164
Unfortunately the embedded UI had to be removed from the plugin, starting from version https://github.com/zalando/intellij-swagger/releases/tag/1.0.8. The YAML text editor did not work well with the UI and I was not able to find a fix for this.

[2018-05-09 06:51] burliayeu commented on #164
Oh, okay. I'll use the browser mode (didn't know about this feature).
Thanks for the information and for this useful plugin!👍

[2018-05-09 06:51] #164 closed, assigned to nobody

[2018-05-11 05:16] #78 closed, assigned to nobody

[2018-05-11 05:27] semonte commented on #78
It took a while, this will be available in the next published release https://github.com/zalando/intellij-swagger/releases/tag/1.0.12

[2018-05-11 20:29] mattzuba opened #166 "[WIP] AWS Extension support"
I've started working on support for AWS's Swagger extensions and I have all of the field autocompletes done and working, and I'm almost complete with the value autocompletes where necessary.  Should as much validation as possible be added as well?

[2018-05-12 10:28] semonte commented on #166
Thanks @mattzuba

I don't think there needs to be validation for this, because it is not part of the core Swagger spec.

[2018-05-23 16:10] DoctorBooooom opened #167 "Add support for `components` root section"
https://swagger.io/docs/specification/components/

[2018-05-24 14:51] DoctorBooooom commented on #167
My mistake. Wrong file version definition. All works fine

[2018-05-24 14:51] #167 closed, assigned to nobody

[2018-05-24 16:59] semonte commented on #167
Ok good 👍

[2018-06-26 13:48] ghost opened #169 "Upgrading swagger-ui"
Please upgrade swagger-ui to the latest version. There are some fixes in the latest version that I'm hitting in the bundled version. I have tried to just replace the bundled version in the plugin directory but then everything stopped working.

In the meantime before a new release could you give guidance how to upgrade the bundled version locally?

[2018-06-26 14:29] christophsturm opened #170 "null pointer exception with idea 2018.2 eap"
this keeps showing up in my exception reporter, maybe a compatibility problem?
[code]

[2018-06-27 05:42] semonte commented on #170
Thanks for the heads up! I'll take a look at this.

[2018-06-27 06:13] semonte commented on #169
Thanks for creating an issue.

It is not trivial to manually upgrade the bundled version, as we insert custom code to the `index.html`. For the future, I will keep a closer look at Swagger UI releases and keep the plugin up-to-date in regards to that.

[2018-06-27 06:17] #169 closed, assigned to semonte

[2018-06-27 06:37] semonte commented on #169
I released a new version of the plugin with the latest Swagger UI. It is still pending JetBrains' approval.

[2018-07-03 20:46] nandotorterolo commented on #127
<img width="381" alt="screen shot 2018-07-03 at 5 45 44 pm" src="https://user-images.githubusercontent.com/8540107/42243816-f3586fca-7ee8-11e8-8bf2-7febc9613db2.png">

IDE: `2018.1`
Plugin: `0.12.0`

[2018-07-03 20:47] nandotorterolo commented on #127
@semonte  do you know how to avoid this encoding issue?

[2018-07-04 05:48] semonte commented on #127
The embedded UI was removed due to multiple issues reported by users. You should update the plugin to the latest version.

[2018-07-05 11:24] semonte commented on #111
Closing the issue, I can't reproduce this with the latest version of the plugin.

[2018-07-05 11:24] #111 closed, assigned to nobody

[2018-07-11 16:11] HeyRatFans commented on #170
Also receiving this error with PhpStorm 2018.1.6

[2018-07-12 09:29] #170 closed, assigned to nobody

[2018-07-12 09:41] semonte commented on #170
Fix is pending for approval (https://plugins.jetbrains.com/plugin/8347-swagger-plugin).

[2018-07-13 06:39] semonte commented on #166
@mattzuba if you are still planning to work on this, this is very relevant for writing auto completion extensions: https://github.com/zalando/intellij-swagger#custom-extensions

[2018-07-16 19:32] mattzuba commented on #166
I'll take a look and see how to go that route.  I had already implemented everything on top of the existing code but probably makes sense to be a custom extension.

[2018-07-23 13:23] jumale opened #178 "Editor is not working with Jetbrains chrome extension enabled"
## Description
Opening a yaml file in a Chrome browser does not work if Chrome has enabled "Jenbrains IDE support" extension.

## Steps to reproduce
- open any swagger.yml file in IDE
- Menu > View > Open In Browser > Chrome
Result:
![2018-07-23 15-14-39](https://user-images.githubusercontent.com/5584627/43078799-bf66db36-8e8b-11e8-9da9-855481b9b750.png)

- now install/enable "Jetbrains IDE suppor

[2018-07-26 11:26] semonte commented on #178
Thanks for reporting an issue.

I have the latest versions of both plugins installed, but I am not able to reproduce the issue. Which version are you using?

[2018-08-02 08:52] artemgordinskiy commented on #169
@semonte Sorry for a potentially dumb question but how do I render the docs using Swagger UI in the editor? I'm not seeing the swagger button anywhere (also not when searching among the editor actions) and opening the browsers doesn't seem to work either – I just see an empty page with a
header. Using PyCharm 2018.2 with the latest plugin version on MacOS.

[2018-08-02 08:53] ghost commented on #169
Opening the browser link in the right top corner used to work for me, but I didn't try with the latest plugin version.

[2018-08-07 07:06] sc0ttdav3y commented on #178
I've got the same problem.

Chrome version 68.0.3440.84 (Official Build) (64-bit) on Mac OS X.
JetBrains plugin version: 2.0.9 (hmhgeddbohgjknpmjagkdomcpobmllji)
Swagger Plugin version: 1.0.16
PHPStorm version: 2018.2

if I disable the JetBrains plugin from Chrome, then the Swagger UI launches fine. If it is enabled, then I get the same screenshot as @jumale.

Thankfully @jumale's workaround of di

[2018-08-21 05:11] ezrover opened #183 "does this support openapi 3.0?"

[2018-08-22 05:21] semonte commented on #183
Yes, the support is not be so comprehensive as for 2.0, but the basics are there.
![image](https://user-images.githubusercontent.com/1151536/44444193-5d39dd80-a5e4-11e8-99d3-c0ee0f8c239d.png)

[2018-08-22 05:23] semonte commented on #178
Hey.

Sorry for the late reply. I did manage to reproduce this, but did not find a way to fix it unfortunately.

[2018-08-24 21:51] MrThreepwood opened #184 "Multiple Files"
How do I reference other files and actually use them? The editor seems to understand references to other file definitions, but when opened in the browser it does not, saying a Base URL needs to be specified. Obviously for development this isn't an option, I'm developing locally and each person working in the repo is going to be working in a different path. The example seems to show doing something

[2018-08-27 10:26] semonte commented on #184
Hi,

Unfortunately it is difficult to implement file references in the Swagger UI using local files. In case you want to use display local files and references in Swagger UI (with all the features), I suggest using the following approach https://github.com/swagger-api/swagger-ui/issues/1110#issuecomment-155873088

I will take another look at this to see if there is a way to implement file referenc

[2018-08-28 22:24] MrThreepwood commented on #184
Currently when viewing in browser from the plugin, it builds and index.html and opens it in the browser. Other similar things for doc building or Javascript editing open a simple webserver with socket, which also allows it to update the browser window when updates occur. If this was done instead, would it be possible to have the server provide the referenced files through different endpoints (loca

[2018-08-29 09:23] jumale commented on #178
@semonte I also tried to play around to understand the reason, but no luck.
I have 2 suggestions:
- first of all to add the "Open in browser" feature to the documentation, because tbt I discovered it just accidentally, it's nowhere mentioned, and in my opinion it's one of the important features of this plugin.
- add this issue to "Known Issues" in docs, to save time for other people until a soluti

[2018-08-29 09:45] semonte commented on #178
@jumale Yes, that sounds very reasonable, PRs are very welcome!

[2018-08-31 06:20] semonte commented on #184
A server would be great to have. IntelliJ can also provide a server and allows to query for resources within the project. Maybe there is a way for this to work.

[2018-09-04 09:51] semonte opened #186 "$ref is not suggested always in `parameters`"
`$ref` should be suggested in the following case:

![image](https://user-images.githubusercontent.com/1151536/45024231-37c7bd80-b041-11e8-84da-6b6f17e8e5f1.png)

[2018-09-13 09:46] #186 closed, assigned to nobody

[2018-09-14 08:48] #183 closed, assigned to nobody

[2018-10-01 08:59] oleynikandrey opened #190 "Blank screen on preview"
The plugin can't render OpenAPI spec, I see blank screen and errors in console:

<img width="1792" alt="screenshot 2018-10-01 at 11 23 36" src="https://user-images.githubusercontent.com/1157958/46277831-150bc480-c56d-11e8-9ccf-dd7537c43caf.png">

The same spec correctly rendered on editor.swagger.io without any warnings. How could I troubleshoot it?

[2018-10-05 05:37] semonte commented on #190
Hey @oleynikandrey

It seems that the related javascript files are not loaded. Could it be some add-on that is blocking requests for `file` protocol? I would suggest trying another browser if possible.

[2018-10-05 06:50] semonte opened #192 "Resolve to a PSI element from Zally inspection"
Zally provides a path to a key/value that caused the violation. We should use this path to link the Intellij error to a PSI element. This will improve the developer experience; a user can click the error/warning and the cursor is moved to the correct position.

[2018-10-05 07:27] maxim-tschumak commented on #192
Please use the [`pointer` element](https://github.com/zalando/zally/blob/master/server/src/main/resources/api/zally-api.yaml#L395) to navigate to the causing node in the YAML/JSON. (background: the `paths` element will be deprecated eventually)

[2018-10-05 11:54] semonte commented on #192
Ok, good to know!

[2018-10-05 12:50] #192 closed, assigned to nobody

[2018-10-05 15:39] ccampo133 opened #194 "Not working with IntelliJ 2018.2.3?"
I have IntelliJ 2018.2.3 (OS X version) and added the plugin recently. Unfortunately, it doesn't seem to be recognizing Swagger YAML files (no autocompletion, breadcrumbs, etc) and I have no idea how to force it to recognize. Is this a known issue? Thanks!

[2018-10-05 15:52] ccampo133 commented on #194
This appears to be PEBKAC. Looks like the first line has to be explicitly `swagger: "2.0"` with quotes to get this to work.

[2018-10-05 15:52] #194 closed, assigned to nobody

[2018-10-08 09:50] oleynikandrey commented on #190
@semonte, I've tried Google Chrome, Firefox and Safari without success.
I saw such behaviour several times but the reason was an error in spec file, except last time.
I wonder is there any way to validate spec file before preview and somehow debug rendering process?

[2018-10-11 07:03] semonte commented on #190
@oleynikandrey I'll check if it is possible to provide an error message when the spec is not valid YAML/JSON.

[2018-10-11 12:56] semonte commented on #190
Here is the PR for this https://github.com/zalando/intellij-swagger/pull/195

[2018-10-12 04:43] semonte opened #196 "Add a formatter to keep code consistent"
The codebase is not consistent with formatting. We should use a tool to format code, such as https://github.com/google/google-java-format

[2018-10-14 11:20] semonte opened #198 "Items are not auto completed in parameter definition"
Auto completion does not work in `items` in the following case:

[code]

[2018-10-15 05:42] semonte opened #200 "$ref value is not auto completed if first letter is uppercased"
With lowercase:

![image](https://user-images.githubusercontent.com/1151536/46931958-23221080-d056-11e8-996a-e6d3825506de.png)

With uppercase:

![image](https://user-images.githubusercontent.com/1151536/46931968-3339f000-d056-11e8-8435-66ebefe3b8ba.png)

Reference completion should work with uppercases also.

[2018-10-16 09:22] #200 closed, assigned to nobody

[2018-10-16 10:28] #198 closed, assigned to nobody

[2018-10-17 09:43] semonte commented on #190
Release 1.0.18 is out, the new version will give you feedback when something goes wrong with the Swagger UI.

[2018-10-18 21:27] oleynikandrey commented on #190
Great, thank you!

[2018-10-18 21:27] #190 closed, assigned to nobody

[2018-10-23 05:43] #33 closed, assigned to nobody

[2018-10-23 12:47] semonte commented on #196
Closed by https://github.com/zalando/intellij-swagger/pull/204

[2018-10-23 12:47] #196 closed, assigned to nobody

[2018-10-25 12:18] semonte opened #205 "`runReadAction()` exception"
The following error was reported.

Configuration:
[code]

[code]

[2018-10-26 12:48] #205 closed, assigned to nobody

[2018-11-02 12:38] slinkydeveloper opened #207 "Spec Structure/Explorer"
Actually to explore the file I use Structure tab of intellij, but it's a bit painful to easily find things. I think that could be cool to have a structure explorer that shows things organized like:

* paths
* operations
* data types
* security schemas

And so on

[2018-11-04 10:35] semonte commented on #207
That sounds like a useful feature. Would you like to contribute to that? :) I can of course provide support if needed.

[2018-11-04 11:40] slinkydeveloper commented on #207
Very happy to contribute 😀 but i never wrote a intellij plugin, can you give me a little help to start? There is a gitter/slack channel to join?

[2018-11-05 07:51] semonte commented on #207
I created a gitter channel at https://gitter.im/zalando/intellij-swagger. Let's continue discussion there on how to get started!

[2018-11-14 13:15] semonte opened #209 "Schema autocompletion improvements"
Auto completion does not suggest anything in the following cases:

[code]

[code]

[2018-11-14 14:04] baztian opened #210 "File named openapi.yaml not detected"
When I name my OpenAPI file `openapi.yml` the plugin autocompletion works. If I name it to the desired `openapi.yaml` it doesn't work.
In #146 there was a similar comment. Unfortunately the solution to create a new file with `openapi: 3.0.0`, closing it and reopening it doesn't work for me.

[2018-11-15 06:21] semonte commented on #210
Hi,

The filename _should_ not matter, for example the following works for me with version `1.0.19`:

![image](https://user-images.githubusercontent.com/1151536/48533962-2277d680-e8af-11e8-8daa-b7db16650e9e.png)

In order to debug this further, I would need to know which version of the plugin and IDE you are using.

[2018-11-15 08:45] baztian commented on #210
Thanks @semonte,
I tried creating a file named {{test.xaml}} and it worked as in your example. Then I switched back to my {{openapi.yaml}} file and the plugin started to work there too!

I don't know what caused the problem initially and what fixed it. I installed the plugin just yesterday after I already started editing the yaml file. I tried with restarting, renaming forth and back but without s

[2018-11-15 08:52] #209 closed, assigned to nobody

[2018-11-15 09:45] semonte commented on #210
Thanks for the additional information. I'll check if I can reproduce this.

[2018-11-19 11:02] semonte opened #213 "$ref autocompletion improvements"
Auto completion does not suggest anything in the following case:

[code]

[2018-11-20 09:42] semonte opened #215 "Detect OpenAPI file types"
In order to indicate that a file is an OpenAPI specification file, we should replace the default YAML and JSON icon with a custom one.

[2018-11-21 08:44] #215 closed, assigned to nobody

[2018-11-21 11:13] #213 closed, assigned to semonte

[2018-12-07 12:47] semonte opened #219 "Support for `discriminator` object"
We should provide auto completion and navigation features for the [discriminator object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#discriminator-object).

[2018-12-10 06:48] semonte commented on #210
@baztian the latest version the plugin provides icons for Swagger and OpenAPI files. If an icon is displayed, the plugin is active for that file. This should help in possible future issues regarding this. I'll close this issue, because there are no further actions for now.

[2018-12-10 06:49] #210 closed, assigned to nobody

[2018-12-10 07:11] semonte opened #221 "Display a warning for unused references"
Similar to Swagger files:

![image](https://user-images.githubusercontent.com/1151536/49716151-847fed80-fc5b-11e8-88e6-342a74381b27.png)

[2018-12-11 08:50] #219 closed, assigned to nobody

[2019-01-03 09:04] #221 closed, assigned to nobody

[2019-01-18 05:24] cognifloyd opened #225 "Make x-audience configurable (zalando extensions)"
I'm looking at using zalando extensions while developing APIs where I work.
The concept of using `x-audience` to define the audience for a given API is excellent. However, the list of valid audiences does not make sense where I work.
https://github.com/zalando/intellij-swagger/blob/3c72b38075ce0f32be7c9904f305cf91333873eb/examples/extensions-zalando/src/main/java/org/zalando/intellij/swagger/examp

[2019-01-18 07:03] semonte commented on #225
Hey @cognifloyd

The _Swagger Plugin Zalando Extension_ was not designed to be configurable, it is an example of how one can extend the features of the _Swagger plugin_. In this case, you would be better off writing an extension plugin for the Swagger plugin.

[2019-01-18 07:17] cognifloyd commented on #225
OK. I will copy this then and modify it to suite my needs. Thanks!

[2019-01-18 07:17] #225 closed, assigned to nobody

[2019-01-18 07:26] cognifloyd commented on #118
I found that specifying a JSON schema (`openapi-3.0` or `swagger-2.0`) warns about a lot of the errors that the Swagger Editor detects. Maybe this plugin can enable that by default.
https://www.jetbrains.com/help/idea/json.html#ws_json_using_schemas

[2019-01-18 12:30] wabiloo commented on #118
I also would like some additional validation.
In particular, validating that the $ref references are pointing to valid files.
Eg.
[code]
If there is no such inputs.yaml file, the plugin should detect it and give a warning

[2019-01-18 13:48] semonte commented on #118
https://www.jetbrains.com/help/idea/json.html#ws_json_using_schemas

I have been planning to take a look at this! This would likely be a big help with keeping spec files valid.

[2019-01-18 13:49] semonte opened #226 "Validate file references"
References to non-existent files should be highlighted with warning or error.

[2019-01-18 13:50] semonte commented on #118
Agree, created an issue #226

[2019-01-18 15:58] cognifloyd opened #227 "Add a spec diff tool"
With SwaggerHub, the diff tool is helpful. In PyCharm, I can use "compare files" to get a line-based diff, which is all SwaggerHub does anyway.

A more intelligent diff might be useful in writing and comparing versions of specs (or when consolidating/merging specs written in part by multiple people). I've seen (but have not used) these:
- https://github.com/civisanalytics/swagger-diff
    Ruby-bas

[2019-01-18 16:00] cognifloyd commented on #118
in #227, I was looking for libraries that could be integrated. In doing so I came across these linters.
Most of them aren't Java, and those that are implement their own parser as well, so I'm not sure how embeddable these could be. But, all of them might offer hints about how to do validation logic beyond using the json schema.

- https://github.com/networknt/openapi-parser (java parser/validator)

[2019-01-21 18:12] javac0dr commented on #184
Have you considered an approach where you inline all of the external references as part of building index.html?  With this approach index.html would be self-contained.  I know there are some javascript projects which will resolve all external references.  I'm not sure if there are any Java projects that do this.

[2019-01-22 18:39] semonte opened #228 "Auto completion does not work with JSON Schema contributor"
Swagger completion contributors are in conflict with the JetBrains JSON Schema completion contributors. We need to disable Swagger and OpenAPI schemas, as suggested by JetBrains https://intellij-support.jetbrains.com/hc/en-us/community/posts/360002721620-YAML-completion-contributor-

[2019-01-24 06:26] semonte commented on #118
Thanks for the list @cognifloyd I will start with a JSON Schema validation as a "low hanging fruit", and iterate on top of that.

[2019-01-24 06:27] semonte commented on #227
This sounds like a good idea :) would you be interested in contributing to the feature?

[2019-02-08 13:58] marcelstoer opened #230 "IAE when previewing file in browser"
IntelliJ IDEA (latest): 2018.3.4
Plugin: v1.0.23

Triggering "Preview File In..." (via shortcut or the browser icons in the top right corner) fails with the following error:

[code]

[2019-02-09 12:34] dodalovic opened #231 "Nothing happens when clicking Chrome icon for accessing Swagger UI"
IntelliJ IDEA 2018.3.4 (Ultimate Edition)
Build #IU-183.5429.30, built on January 29, 2019
JRE: 1.8.0_152-release-1343-b26 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.3

[code]

[2019-02-11 08:00] #230 closed, assigned to nobody

[2019-02-11 08:29] semonte commented on #231
Duplicate of https://github.com/zalando/intellij-swagger/issues/230 . Version 1.0.24 will fix this, it is pending for JetBrains approval. Thanks for reporting anyway!

[2019-02-11 08:29] #231 closed, assigned to nobody

[2019-02-11 08:29] semonte commented on #230
Thank you for the report! New version 1.0.24 will fix the issue, it will be available once JetBrains accepts the new release.

[2019-02-12 15:12] xehpuk opened #233 "Decimal point is not allowed for numerical properties"
Broken since **v1.0.23**:

I'm trying to specify a `maximum` of e.g. 999.99:

![Type is not allowed. Expected: number.](https://user-images.githubusercontent.com/3484906/52644715-a0b03d00-2edf-11e9-885f-5c0da0ead8be.png)

If there are at least three properties with the same specification, the error changes:

![Missing required property '$ref'](https://user-images.githubusercontent.com/3484906/5264

[2019-02-13 13:47] profiprog opened #234 "Value should be one of: "body""
I have updated Swagger plugin to version v1.0.24 and it starts displaying error:
`Value should be one of: "body"`, but according to [reference](https://swagger.io/docs/specification/describing-parameters/) use `in: query` is correct.
![screnrec](https://media.giphy.com/media/czLczMFHMlSIlOO4cZ/giphy.gif)
Autocorrection just remove the value.

[2019-02-13 14:17] semonte commented on #233
Thanks for reporting, looks like a bug in the JSON Schema validator.

[2019-02-13 14:21] semonte commented on #234
Thanks for reporting. Just to double check, is the specification OpenAPI 3? In Swagger, a `schema` is not allowed in query parameters. This would explain the error message.

[2019-02-13 14:54] profiprog commented on #234
No I still depend on Swagger 2 `swagger: '2.0'`

[2019-02-13 17:53] semonte commented on #234
Ok, in that case `schema` should not be in a parameter of `in: query` and the error is valid. Instead of schema, the parameter object should be something like:

[code]

As documented at https://swagger.io/docs/specification/2-0/describing-parameters/#query-parameters

[2019-02-13 18:17] profiprog commented on #234
Tank you, that is a solution. No swagger tool (which I used) detect this as an error. Better error message could helpful, but it works for me.

[2019-02-13 19:41] #234 closed, assigned to nobody

[2019-02-15 13:52] semonte commented on #233
This seems to be a bug in the JSON Schema validator provided by JetBrains, I will make an issue for them and get some feedback.

In the meantime you can:

1) prefix the float values with `!!float 999.99` or
2) disable the JSON Schema validation (Preferences -> Editor -> Inspections -> Swagger/OpenAPI Inspections)

[2019-02-20 03:03] revilwang opened #235 "Invalid Inspection of default value"
## Environment

### IDE

PyCharm 2018.3.4 (Professional Edition)
Build #PY-183.5429.31, built on January 29, 2019
JRE: 1.8.0_152-release-1343-b26 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.14.3

### intellij-swagger plugin

v1.0.24

## Issue

Incorrect error inspection on default value

### How to produce

[code]

### Screenshot:

![image](https://user-images.githubuserconten

[2019-02-21 13:02] semonte commented on #233
An issue for JetBrains has been created at https://youtrack.jetbrains.com/issue/IDEA-207702

[2019-02-26 08:32] semonte commented on #235
Thank you for reporting the issue and apologies for the delayed response.

The issue is related to the JSON Schema validator provided by JetBrains, similar to https://github.com/zalando/intellij-swagger/issues/233. Version 2019.1 (https://www.jetbrains.com/idea/nextversion/) will fix this.

If this is too much of an annoyance, you can disable the inspection from `Preferences -> Editor -> Inspectio

[2019-02-26 13:03] revilwang commented on #235
Very much appreciated for the response. I will close this issue

[2019-02-26 13:03] #235 closed, assigned to nobody

[2019-02-28 03:10] aihua commented on #228
How long will the issue be updated to JetBrains Plugin Marketplace? @semonte @valgog @rupert654 @hjacobs @radarsh

[2019-03-01 08:03] semonte commented on #228
The fix is available for the latest version, [1.0.24](https://plugins.jetbrains.com/plugin/8347-swagger/update/58093). Note that it requires JetBrains 2018.3 and up.

[2019-03-01 08:03] #228 closed, assigned to nobody

[2019-03-04 23:35] MikeRylanderAtRallyHealth opened #237 "Update Swagger UI"
The latest swagger UI appears to have different validations and rendering. Please update to the latest version.

[2019-03-05 12:11] semonte commented on #237
Yes, it will be available in the next release, likely this week.

[2019-03-14 06:22] semonte commented on #237
New release 1.0.25 contains an updated Swagger UI.

[2019-03-14 06:22] #237 closed, assigned to nobody

[2019-03-14 06:23] semonte commented on #226
Fixed at https://github.com/zalando/intellij-swagger/pull/238

[2019-03-14 06:23] #226 closed, assigned to nobody

[2019-03-14 09:09] reitzmichnicht opened #242 "IntelliJ 2019 support"
The last 1.0.24 has other compatibility settings so the IntelliJ 2019 beta tries always to downgrade the plugin to version 1.0.22.

Please release a version that initially supports the 2019 beta

[2019-03-14 13:33] semonte commented on #242
Hey @reitzmichnicht version 1.0.25 that was released yesterday https://plugins.jetbrains.com/plugin/8347-swagger/update/59375 supports 2019.* versions.

[2019-03-14 14:04] reitzmichnicht commented on #242
Great thanks a lot

[2019-03-14 14:04] #242 closed, assigned to nobody

[2019-03-19 09:01] semonte commented on #184
Sorry for missing this comment. This work is currently in progress! :)

[2019-03-21 06:16] semonte opened #243 "java.lang.IllegalStateException: File VirtualFileWindow"
The error below was reported through an email.

[code]

[2019-03-21 06:52] RohanNg opened #244 "Support for Required Properties specification"
Currently, the plugin offers no support related to Required Properties specification of object.

As an example, this is the current behavior:
![Screen Shot 2019-03-21 at 8 47 54 AM](https://user-images.githubusercontent.com/22703884/54736942-42e5d380-4bb6-11e9-8fd3-babbca6d3009.png)

It'll be a great improvement if we have autosuggest and validation in place.

[2019-03-21 13:38] #184 closed, assigned to nobody

[2019-03-21 16:13] dcfsc commented on #243
Similar thing here too. on an MD file. Using Markdown Navigator with JavaFX Preview.
IntelliJ IDEA 2018.3.5 (Ultimate Edition)
Build #IU-183.5912.21, built on February 26, 2019
JRE: 1.8.0_152-release-1343-b28 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 3.10.0-957.5.1.el7.x86_64
[code]

[2019-03-22 06:20] semonte commented on #243
Thanks for the details, will be fixed in the next release!

[2019-03-22 12:00] #243 closed, assigned to nobody

[2019-03-23 23:00] Codefalter opened #247 "Unable to $ref paths"
Hello, can't figure out a way to `$ref` paths. I guess the `~1` decoding to `/` is missing that should be handled like [that](https://tools.ietf.org/html/rfc6901#section-4), if I'm not mistaken.
[code]

[2019-03-26 06:41] semonte opened #249 "Zalando extensions does not work in GoLand"
[code]

[2019-03-26 09:28] #249 closed, assigned to nobody

[2019-03-28 06:59] semonte commented on #247
Thanks for reporting the issue. You are correct, we are not handling the decoding at all at the moment. This will be fixed.

[2019-03-29 07:10] semonte commented on #233
Version 2019 is out, and it fixes the issue, closing this.

[2019-03-29 07:10] #233 closed, assigned to nobody

[2019-03-29 07:22] semonte commented on #118
A Swagger/OpenAPI specification file is currently validated with a JSON Schema. On top of that, we validate that references point to existing objects.

I will close this issue; validation issues should be handled by individual issues from now on.

[2019-03-29 07:22] #118 closed, assigned to nobody

[2019-03-29 08:01] semonte opened #254 "Ensure index is ready before reading using it"
Make sure index is ready before reading it.

[code]

Related to #243

[2019-04-02 22:55] GaryGSC opened #256 "Unable to $ref using array index notation"
I have some JSON references using array index notation that are throwing inspection errors. I believe they should be valid according to [RFC 6901](https://tools.ietf.org/html/rfc6901#section-6), where `#/foo/0` resolves to `"bar"`.

Here's a minimal example that gives `Can not resolve reference '#/x-values/0'`:
[code]

**Versions:**
WebStorm 2019.1 (build #WS-191.6183.63, from March 21, 2019)
Swag

[2019-04-02 23:19] GaryGSC opened #257 "Swagger/OpenAPI Inspections not respecting user-provided severity levels"
Hopefully this is the correct place to file this issue. Apologies if it isn't.

As the title implies, WebStorm gives me the option of specifying severity levels for different inspections. Some of my swagger documents have a lot of inspection errors related to #256, so I wanted to reduce the visual noise.

It turns out that setting the severity level to `Weak Warning` doesn't actually do anything.

[2019-04-03 09:46] semonte commented on #256
Indeed, should be fixed. Thanks for reporting!

[2019-04-03 09:47] semonte commented on #257
Thanks for reporting, this will be fixed!

[2019-04-03 11:22] #257 closed, assigned to nobody

[2019-04-03 11:30] #254 closed, assigned to semonte

[2019-04-03 11:31] #247 closed, assigned to semonte

[2019-04-03 11:58] Codefalter commented on #247
Thanks for the quick fix @semonte 👍

[2019-04-14 07:24] TwunTee opened #259 "Disable missing properties error for referenced definitions yaml file"
When I am creating an definition yaml file I am getting an error saying paths and info properties are missing. When I am creating a definition file which will be referenced, paths and info are not necessary

"""
User.yaml
--------------
type: object
properties:
  name:
    type: string

"""

Is there a possibility of disabling missing properties error.

[2019-04-17 12:51] bitSchleuder opened #260 "Exception if Markdown file will be edited"
At the moment i'm not working on a project with SWAGGER.

At the time of the exception I only edited the project README.

About privacy I removed the PATH_TO_FOLDER path from the exception.

Setup:
WebStorm 2019.1
Build #WS-191.6183.63, built on March 21, 2019
Licensed to ME
You have a perpetual fallback license for this version
Subscription is active until April 1, 2020
JRE: 1.8.0_202-release-148

[2019-04-17 18:03] adamlehenbauer opened #261 "Ability to open swagger-ui with sections collapsed initially"
Hi, it would be helpful if there were a setting that lets me open the swagger-ui with the plugin, but with all sections (as defined by swagger tags) collapsed. This helps when working on changes towards the bottom of very large swagger files.

If there were a way to expand only the endpoint where the editor cursor was, or scroll there via an anchor link, that'd be even better.

I would consider wo

[2019-04-17 18:53] john3300 opened #262 "Ref to JSON file from OAS 3 YAML file not resolved"
Starting with an OAS 3.0 YAML file, if I try to make a remote file reference to a schema in a JSON file the ref cannot be resolved.  ~~This isn't a problem with Swagger 2.0 files.~~

Here's a simple example to show the issue:

test-base.yaml
[code]

cat.yaml (Ref resolves properly here)
[code]

dog.json (Ref fails to resolve here)
[code]

And here's a screenshot of the error:
![Screenshot at 2019-

[2019-04-18 07:23] axute opened #263 "Permanent 100% CPU utilization through the swagger plugin."
The CPU utilization by swagger is permanently at 100%, more precisely at the plugin itself 25% -30% and, hanging together, also the JIT compiler at 60% +.

This is very bad for a laptop, you can watch the battery while unloading.

[2019-04-18 19:17] john3300 commented on #262
Actually, I've just discovered that this is problem with Swagger 2.0 files as well.  So it's not just an OAS 3.0 thing.

[2019-04-20 11:52] sheldhur opened #264 "Support for swagger-jsdoc"
Support for swagger scheme description in jsdoc comments. Is it possible?

[code]

[2019-05-01 13:33] mrburrito commented on #260
We've been having the same issue. Editing any Markdown file generates the same exception. Please fix ASAP!

[2019-05-02 10:41] semonte commented on #260
Version 1.0.26 should fix the issue https://plugins.jetbrains.com/plugin/8347-swagger/versions

[2019-05-02 10:43] semonte commented on #262
Thanks for reporting, this needs a fix indeed.

[2019-05-02 10:44] semonte commented on #263
Thanks for reporting, this needs to be looked at. There has not been much focus in evaluating the performance impact of introduced features.

[2019-05-02 10:47] semonte commented on #259
Can you provide a complete example? I can't reproduce the issue by creating a `User.yaml` file:

![image](https://user-images.githubusercontent.com/1151536/57070669-d09dfe00-6ce0-11e9-8344-6446310ea698.png)

[2019-05-02 10:52] semonte commented on #264
I think this is out of scope for the Swagger plugin and this would be better built as a separate plugin, possible with a dependency to Swagger plugin.

[2019-05-02 10:52] #264 closed, assigned to nobody

[2019-05-02 10:57] semonte commented on #261
Something like this would be useful indeed. If the sections can be collapsed using some URL parameters, this should be doable!

[2019-05-03 13:08] TwunTee commented on #259
I added swagger version tag on top of the file, that was causing the issue. I added swagger version tag as the autocomplete sometimes wouldn't work on files that were referenced. Now i tested the referenced files work without the swagger version tag and the autocomplete works without any issue. That resolves the problem thanks!

[2019-05-03 13:08] #259 closed, assigned to nobody

[2019-05-07 09:48] #260 closed, assigned to nobody

[2019-05-07 09:49] semonte commented on #166
Closing because of inactivity.

[2019-05-07 09:49] #166 closed, assigned to nobody

[2019-05-07 09:50] semonte commented on #207
@slinkydeveloper Are you still planning to contribute to this or shall I close the issue?

[2019-05-07 09:57] slinkydeveloper commented on #207
I'm so sorry I had a lot of things to do in past months, close it if you need. when i will have some time i will reopen it :smile:

[2019-05-08 05:48] ofry opened #266 "IndexNotReadyException again."
Related to #254

[code]
Swagger v1.0.26

[code]

[2019-05-08 09:45] semonte commented on #266
Thanks, we need to check the index state before using it in `SwaggerJsonCatalogExclusion` as well.

[2019-05-10 09:14] #266 closed, assigned to semonte

[2019-05-13 10:24] WhoKnocks opened #268 "Autocomplete ref not working for separate file"
Intellij does not suggest any components listed in another file.

See:
![image](https://user-images.githubusercontent.com/6548515/57614246-01035900-7579-11e9-8182-4d7b9c31c8ca.png)

While this is valid and intellij is able to navigate to it.
![image](https://user-images.githubusercontent.com/6548515/57614371-5c354b80-7579-11e9-9362-38986dd09f42.png)

Content of person.yml file:
[code]
Swagger v1.0

[2019-05-14 08:25] itairaz1 opened #269 "2 swagger.yaml with $ref and autocomplete"
I have in my project 2 swagger.yaml (in different directories) that includes $ref to different files.
The files that has ref in first swagger.yaml are identify as swagger files and have autocomplete.
But the files that has ref in the second swagger.yaml doesn't identify as swagger and have yaml icon, without having autocomplete.

[2019-05-16 12:04] Monkleys commented on #262
This seems to relate to this issue I opened [here](https://github.com/OAI/OpenAPI-Specification/issues/1927)

[2019-05-16 12:07] Monkleys opened #270 "Can't use tag_yaml"
This is a weird one, but if I use `tag_yaml` for schema name, no reference will resolve to it. If I change it to any other name, it works. Is this a keyword in the plugin?

[2019-05-17 10:42] semonte commented on #268
Thanks for reporting, this has been in my todo list for quite while. Maybe this issue speeds things up!

[2019-05-17 10:58] semonte commented on #269
Thanks for reporting the issue, I am able to reproduce this.

[2019-05-17 11:09] semonte commented on #270
Seems like a bug in the regex at https://github.com/zalando/intellij-swagger/blob/master/src/main/java/org/zalando/intellij/swagger/reference/YamlReferenceContributor.java#L20. We need to escape the dot!

[2019-05-22 17:57] GaryGSC opened #272 "`runReadAction()` exception is back"
Related to #205?

I got what WebStorm thinks is a "Fatal Error" today.

As far as I can tell, it's not actually stopping me from doing anything. So, at least for me, this is a low priority. I just figured you might be interested in the stack trace.

[code]

**Versions:**
WebStorm 2019.1.2 (build #WS-191.7141.49, from May 7, 2019)
Swagger plugin v1.0.27

[2019-05-24 09:56] semonte commented on #272
Thanks for the report, this action needs to be checked 👍

[2019-06-07 13:33] kevinrambaud commented on #263
Hey, this plugin is great! Well done. I have the same high CPU usage issue with a 2k lines swagger.

[2019-06-13 09:24] vrindanayak commented on #272
I'm facing the same issue and it pops up multiple times when I'm working on my openapi.json in IntelliJ IDE
The Swagger plugin version I have is v1.0.27
Appreciate if this gets fixed and is available soon!

[2019-06-14 12:52] vsaar commented on #263
What's the status of this issue? I'm experiencing the same and editing a file with 2k+ lines is really annoying.

[2019-06-14 17:20] semonte commented on #263
I had a quick look today at this issue. There certainly are optimisations that can be done for the plugin. However, I also noticed a high CPU usage (100%) when editing an YAML file with 2k lines without the plugin installed.

Can you confirm my finding?

[2019-06-16 17:51] kevinrambaud commented on #263
I observe some spikes in term of CPU usage when editing yaml file without this plugin but this is not constant, it quickly goes stops.

[2019-06-24 10:13] #272 closed, assigned to nobody

[2019-06-24 10:14] #262 closed, assigned to nobody

[2019-06-24 10:14] #270 closed, assigned to nobody

[2019-06-24 10:14] #269 closed, assigned to nobody

[2019-06-25 08:58] NathanHazout commented on #263
My CPU usage goes up to 600%, and I have an i7 with 16GB RAM.
My file is also about 2k lines. There are validation errors so it could be related.

Without the plugin, as kevin says, it goes to 100% for a couple of seconds.

[2019-06-25 09:00] vsaar commented on #263
I'm using JSON format, not YAML, so it's unlikely to be related to that. Also, when I deactivate the plugin, I don't experience any issues.

[2019-07-06 19:33] shaburov opened #277 "Can not resolve json file reference"
v1.0.27
External files specified in the "$ref" parameter are not resolved. Adding the "Resource root" mark does not solve the problem.
![image](https://user-images.githubusercontent.com/15269131/60760387-5a4dad00-a03d-11e9-917e-3ce4ece912df.png)
In the swagger UI, everything is displayed correctly.

[2019-07-18 03:21] ramsrib opened #278 "Memory usage spikes"
Whenever i open a swagger **yaml** file, intellij memory spikes upto 80%. i.e 200MB to 600MB. I'm sure this is recent bug, because i used to edit that same file before without any issue. Now, it's really hard to navigate that swagger file, the whole ide slows down drastically.

Does anyone noticed this bug?

Details:
IntelliJ IDEA 2019.1.3 (Ultimate Edition)
Build #IU-191.7479.19, built on May 27,

[2019-07-19 04:09] zuohd commented on #278
I encountered the same issue.Memory is always increasing and pycharm tell me to restart.

[2019-07-19 14:01] gravypod opened #279 "Nested Swagger File References Don't Enable Autocomplete"
I've been using your plugin and I've really been enjoying it. The plugin has been very helpful but my APIs I'm defining are starting to get pretty big and I need to start splitting up my definition files into smaller subfiles to keep them maintainable.

I am attempting to do something similar to: https://github.com/mohsen1/multi-file-swagger-example

I've run into a few issues:

1. If a file `$ref

[2019-07-19 17:57] austin1howard commented on #263
I'm also seeing this problem:
- 1000% CPU
- Macbook Pro 2018 (i7-8850H)
- 326 line yaml OpenAPI v3 file
- Pycharm 2019.1.3

Is there anything I can do to help diagnose? Logs, debugging? Really like this plugin but I have to disable it to make my machine usable at the moment.

[2019-07-21 10:30] semonte commented on #263
[intellij-swagger.zip](https://github.com/zalando/intellij-swagger/files/3414494/intellij-swagger.zip)

Can you try the uploaded version to check does it solve the CPU and RAM issue? It contains a performance improvement for resolving references.

[2019-07-22 16:49] danie1k opened #280 "Examples are not properly resolved and doesn't show up in hints"
### Description
OpenApi/Swagger specs: https://swagger.io/docs/specification/adding-examples/

I've prepared' very simple specs, based on much more complex structure from my current project:
[code]

### Actual behaviour
1. Examples do not resolve usages:
  ![image](https://user-images.githubusercontent.com/7894107/61649337-93c71f00-acb1-11e9-8cc5-3923bb40678d.png)
2. Examples does not show up in `

[2019-07-22 20:03] austin1howard commented on #263
@semonte wonderful! No more high CPU usage for me. I had several references as well as &id001 type reference so I'm guessing that was the problem?

[2019-07-24 07:26] seseloos commented on #263
@semonte solved the high CPU usage for me as well.

[2019-07-29 20:34] jjanusch opened #282 "2019.2 Schema Validation Error"
As of 2019.2, all [`requestBody`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#requestBodyObject) and [`parameters`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#parameterObject) objects nested in Path objects are highlighted with the same error:

![Screen Shot 2019-07-29 at 1 33 35 PM](https://user-images.githubusercontent.com/3516836/62

[2019-08-02 13:12] lfyuomr-gylo opened #283 "Merge keys are handled incorrectly in SwaggerUI view"
Consider the following OpenAPI definition, containing YAML Merge keys with anchor references:
[code]

If I open this definition in my IntelliJ and then click `open in browser` button, I get a SwaggerUI page with wrong response schema:
![image](https://user-images.githubusercontent.com/8784218/62372027-0b613d80-b53f-11e9-82c7-76c5d7350751.png)

It seems like the Merge key is just ignored in my Open

[2019-08-14 12:28] jwedel opened #284 "Allow the use of maven variables"
# Context
We use the maven project version `@project.version@` within the swagger spec:
[code]
And we have resource filtering enabled:
[code]

# Current Behavior:
- IntelliJ properly shows the version when using CTRL-Mouse-hover
- The swagger plugin however show the following error:
[code]

# Expected Behavior:
- The plugin should allow using maven variables

[2019-08-15 01:01] shaburov commented on #277
@semonte Could you fix this defect? I would be very grateful :)

[2019-08-15 02:07] davidyscott commented on #280
Related but possibly different issue I'm also having: the plugin seems to think the `examples` key is not allowed in schema definitions (`components/schemas/{schemaName}/examples`) but the old `example` key is allowed.

[2019-08-15 13:50] retoo commented on #263
@semonte your branch improves the problem significantly  - thank you! Please merge :)

**Note to others:**
git clone https://github.com/zalando/intellij-swagger.git
git checkout issue-263
./gradlew build
Open Intellij point 'Install Plugin from Disk'  to 'build/distributions/intellij-swagger.zip'

[2019-08-16 11:26] semonte commented on #263
Good to hear. Someone from the @zalando/team-intellij-swagger team needs to approve the PR https://github.com/zalando/intellij-swagger/pull/281 before merging

[2019-09-03 20:50] asyba opened #285 "Issue the file type .yaml already registered with another plugin"
Hi, I can't use this plugin, the extension .yaml I already have it with another Plugin.
How I can specif that this plugin "intellij-swagger" use another extension like "*.yaml2" ?

[2019-09-05 12:14] rdeanar commented on #268
Agree, it will be very handy!

[2019-09-10 09:25] nick-kisanhub opened #286 "Stacktrace in PyCharm"
I get the following stacktrace in PyCharm 2019.2.1. It didn't seem to effect the operation of the plugin, but it's obviously breaking something:

	at com.intellij.openapi.editor.impl.DocumentImpl.assertNotInBulkUpdate(DocumentImpl.java:1190)
	at com.intellij.openapi.editor.impl.view.EditorView.assertNotInBulkMode(EditorView.java:700)
	at com.intellij.openapi.editor.impl.view.EditorView.logicalToVi

[2019-09-11 10:25] nick-kisanhub opened #287 "Excessive CPU usage - unusable"
This plugin consumes 600% of my cpu load which renders it pretty unusable.
I can supply the openapi yaml file that is causing the issue if required.

[2019-09-13 12:39] #263 closed, assigned to nobody

[2019-09-20 22:09] dmoles opened #288 "java.lang.NoSuchMethodException in IDEA log on startup"
Environment info:

[code]

From the IDEA log:

[code]

[2019-09-22 03:40] mayken opened #289 "Files in Ref"
Hi. How can merge yml file with ref a file in one common yml file? I want to next use in Swagger UI for show my documentation, which required one yml file.

[2019-09-23 09:15] umarhussain15 opened #290 "Intellij Spellcheck on varibales not working."
The intellij spell check warnings are not visible on variable names if there is a typo in the name.
It only shows warnings in descriptions when they are multiline otherwise there is no warning.

Please fix this issue. Not having spell check leads to typos in documentation and miscommunication.

Thanks.

[2019-09-25 04:50] naviat opened #291 "Could not generate Swagger UI"
Cannot use this plugin with **WebStorm 2019.2**
Event log show as below:

[code]

[2019-09-28 14:42] akamensky commented on #287
Same issue here. Except I cannot provide openapi file for this.

[2019-09-28 14:50] akamensky commented on #287
Below is a screenshot from iStats:

<img width="212" alt="Screen Shot 2019-09-28 at 10 47 07 PM" src="https://user-images.githubusercontent.com/985805/65818205-002a4580-e242-11e9-8aaa-bed9cc635ca7.png">

This happens when I switch editor to open openapi v3.0.1 YAML file with just about 70 lines in it. Changing editor to any other open file stops the CPU load (even if original file is still open in

[2019-10-05 01:59] #291 closed, assigned to nobody

[2019-10-07 13:39] NathanHazout commented on #263
Is this already in the marketplace?
Mine says 1.0.27 and still seems to go crazy

[2019-10-07 13:50] kevinrambaud commented on #263
@nasht00 I don't think so, looks like the last version is 1.0.27 which is from May (https://plugins.jetbrains.com/plugin/8347-swagger/versions), they need to publish it on the marketplace.

[2019-10-07 19:00] semonte commented on #263
Hey!

I have released a new version (1.0.28) to the marketplace, it should be available in a day or two. I am sorry for taking such a long time to update the plugin, many users are probably suffering from the CPU issue.

[2019-10-14 09:01] Zaijo opened #292 "Release 1.0.28 available from IDEA even before it appears here on Github between releases."
I couldn't check release notes so I skipped the update for now.

How is it possible in the first place?

[2019-10-23 08:16] middlewareman opened #293 "Plugin fails on non-swagger YAML files"
This has caused failure to save YAML files.

[code]

[2019-10-25 13:06] rafaelcaricio opened #294 "Copy&Pasting YAML reformated incorrectly after pasting"
When I copy a part of the API spec and paste somewhere else the snippet that I copied is reformatted incorrectly. Then I need to go through the snipped and reformat manually. Would be nice to keep the formatting or reformat to the correct positioning.

[2019-10-26 13:12] #294 closed, assigned to nobody

[2019-10-29 11:16] radarsh opened #295 "Cannot parse Swagger JSON containing special characters"
We use JSON based Swagger files in our project and it's quite common to have lines such as:

[code]

Unfortunately such properties are not parsed by the plugin and throws the below error:

[code]

The same Swagger files have worked previously until a certain update to the plugin broke it.

Just to add, the same Swagger file works fine on editor.swagger.io when I choose the "Don't convert to YAML"

[2019-11-06 18:39] GaryGSC commented on #256
I updated to v1.0.28, which isn't published on GitHub. ([?](https://github.com/zalando/intellij-swagger/issues/292))

Now I get a slightly different error message: `Array doesn't contain element with index {0}`

[2019-11-06 18:45] GaryGSC commented on #256
Edit: I get some other error messages, too. They vary now.

A `$ref` to `#/x-values/0/blah` now says `Property 'blah' not found` when `blah` exists.

[2019-11-12 10:03] Zaijo commented on #292
Still skipping the update. Unpublished releases are against community improvements.

[2019-11-22 09:57] obedparla commented on #287
Make sure you guys have the latest version: https://github.com/zalando/intellij-swagger/issues/263#issuecomment-539156847

[2019-11-22 11:07] planetf1 opened #296 "Exception on startup - Bean extension class constructor must not have parameters:"
Intellij 2019.3 RC

[code]

[2019-11-22 11:09] planetf1 commented on #296
Also many similar to
[code]

[2019-12-03 21:48] jgindin opened #297 "Good code is red: "Missing required property '$ref'"
I just installed the OpenAPI editor to give it a try. I've been using Apicurio to generate my YAML. The first time opening one of my YAML files in IntelliJ, I see a bunch of red.

This is the first big red block. I'm really not sure why it thinks I'm missing a '$ref' property:
![image](https://user-images.githubusercontent.com/1209704/70091602-78b6d500-15ea-11ea-9b30-188db463246d.png)

There's ano

[2019-12-07 12:36] iAbhi1995 opened #298 "Extension Point for OpenApi(Swagger 3.0)"
The plugin does not support **extension points for openapi (swagger 3.0)** because of which we cannot provide custom suggestions for fields and values in swagger 3.0 files.
Providing extension points will increase the plugin usage as it will now have a feature to provide custom suggestions for the fields and swagger in the openApi 3.0 specification files.

[2019-12-17 17:27] iAbhi1995 commented on #298
I have made a contribution to this issue. Kindly review it and give your suggestions, in case any improvements are required. Also created a pull request, merging which will add extension points for the openAPI 3.0 specification files and examples for using these extension points.
Thanks.

[2019-12-24 13:15] s-titov opened #300 "Property type is not allowed"
Location `type` is not allowed, but it works.

![image](https://user-images.githubusercontent.com/41398445/71414543-82bb7900-2668-11ea-86a7-e01ec40fabc3.png)

![image](https://user-images.githubusercontent.com/41398445/71414561-94048580-2668-11ea-9d64-e7ff874c6322.png)

[2019-12-30 15:17] fstorz commented on #284
Hi @jwedel, you could put the maven variable into quotes like this
[code]
With this the swagger ui generated from IntelliJ will display the version as `@project.version@` and not the version from your POM file.

[2020-01-02 11:11] iAbhi1995 commented on #105
@semonte the code for swagger-ui is no more part of the master branch.
Cannot find the split button to render swagger-ui.
Is this feature removed?

[2020-01-06 13:14] jwedel commented on #284
Works! Thanks 🙏

[2020-01-06 13:14] #284 closed, assigned to nobody

[2020-01-28 10:13] Zaijo commented on #292
I found that master is currently at `1.0.28`. See https://github.com/zalando/intellij-swagger/commit/17215e53da66926a783cc8960f02cf02996319f8

I miss the release tag, because this way it's not clear which commit after the `17215e5` is the release.

[2020-02-16 03:43] JunjiUmeno commented on #288
Here does it happens too with the newest version IDEA.

[2020-03-10 08:08] Samsonkin opened #302 "The plugin displays the UI differently than editor.swagger.io"
Hi, this is an example YAML file.

[code]

Using editor.swagger.io:
https://drive.google.com/open?id=1jvJEcVEjS1_3JXn19rc7DMLHj0daLjUD
https://yadi.sk/i/xSuRNNvejwaahQ

Using the plugin:
https://drive.google.com/open?id=16qw1_5gRwmg_ToCbjfsvz458r2n5hEy_
https://yadi.sk/i/ih8RwfQQk0neog
https://drive.google.com/open?id=1yDryfmI-ILcy6rBk0FSXBLF7Kfh74Nm_
https://yadi.sk/i/SogpJJIOpxpGVA

It looks a l

[2020-03-12 06:31] #289 closed, assigned to nobody

[2020-04-01 17:45] chadxz commented on #282
Not sure if this is the same error or different than what i'm seeing:

![image](https://user-images.githubusercontent.com/309219/78169222-ab48d100-7416-11ea-8b1f-6a3b6c14fcf4.png)

Seems like the same issue to me, though. I'm on WebStorm 2020.1 Beta

if I change the `in: path` to `in: query` the warning goes away :/

[2020-04-06 22:19] hardbyte commented on #287
I still see excessive CPU usage on version `1.0.28`

[2020-04-20 11:02] ondratu opened #303 "Array of anyOf items error"
Hi, I have this part of schema:

[code]
which is valid, but pycharm plugin tell's me missing $ref property
![Snímek z 2020-04-20 13-00-47](https://user-images.githubusercontent.com/6469029/79744719-25c68b80-8307-11ea-9e44-d82bb4f19d04.png)

[2020-04-21 09:25] ondratu commented on #303
It is ok, resp. the validation error is not perfect, but the problem is in type: float, which is my mistake.

[2020-04-21 09:25] #303 closed, assigned to nobody

[2020-04-27 10:33] OStrekalovsky opened #304 "Probably constructor should be marked as NonInjectable"
In Goland 2020 the exception have been occured on startup.

Stacktrace:
[stacktrace.txt](https://github.com/zalando/intellij-swagger/files/4539055/stacktrace.txt)

[2020-05-11 11:34] gayanper opened #306 "No completions for allOf"
When try to complete under allOf there are not completions suggested.

[code]

[2020-05-16 10:21] #306 closed, assigned to nobody

[2020-05-18 13:20] #298 closed, assigned to nobody

[2020-05-18 21:56] pmorch opened #309 "Swagger UI preview only refreshes for first open project"
If I open one Intellij project with a openapi.yaml file in it, and then open a preview by clicking on one of the browser icons, the preview is shown. If I edit the yaml file and refresh the browser, an updated preview is shown.

If I then leave this project open, but also open a second project, and open a same or different openapi2.yaml from *that* project and hit the preview browser button, a sec

[2020-05-18 22:20] pmorch commented on #277
It may not surprise anybody, but `my.yaml`, `./my.yaml` also fail in the same way.

When organizing one's types into separate files, it is now impossible to see if there are any real errors in the OpenAPI file :-(

[2020-05-27 18:04] gayanper opened #310 "Random error in log file for 2020.1.1"
[code]

[2020-06-04 13:31] psyhatter opened #311 "Plugin stopped working"
I don’t know what to associate the problem with yet. The only thing that comes to mind is that I updated golang to version 1.14.4.
[stacktrace.txt](https://github.com/zalando/intellij-swagger/files/4730330/stacktrace.txt)

[2020-06-04 14:16] psyhatter commented on #311
It seems to figure out what caused it.
I am trying to use models from another swagger file in a relative path, like this:
$ref: '../../../../api/swagger.yaml#/definitions/GenericError'

[2020-06-19 06:49] kota65535 opened #312 "Cannot resolve ref for schemas in an another file"
Reference to a schema in an another file leads to the red line warning.

![image](https://user-images.githubusercontent.com/10975834/85104772-2ebed500-b244-11ea-9431-aac5bf9172dc.png)

- I can still  jump to the schema in the file by Navigate -> Goto.
- Autocomplete (suggestion) does not work, neither.

![image](https://user-images.githubusercontent.com/10975834/85104827-48f8b300-b244-11ea-8dad-be

[2020-06-20 03:51] kota65535 commented on #312
Forgot to tell my environment:

- Intellij IDEA Ultimate: 2020.1.2
- Plugin version: 1.0.28

[2020-07-03 13:20] vpursuit commented on #287
Same for me, using
- Mac OS 10.15.5
- Goland 2020.1.3
- swagger plugin 1.0.28

I had to deactivate the plugin. The cpu load made my machine unresponsive.

[2020-07-12 12:57] j-d-carmichael opened #313 "This plugin will cause PHPStorm to crash around 1-2 times per 8 working day."
The plugin causes PHPStorm to crash, the log output which corresponds to the crashes always starts with `Plugin: org.zalando.intellij.swagger`

With the plugin not installed this does not happen.

The crash will render the current window useless and will not even respond to terminating the window.

OS: LinuxMint 20

[code]

[2020-08-20 11:48] gregas commented on #277
It seems to have worked well until I upgraded from IntelliJ 2019.3 to 2020.2 (and "Swagger" plugin 1.0.28 ).

(kind of big deal: very important where many services are used (extensive API) as the code is split into many files)

[2020-08-31 11:34] hcomnetworkers commented on #312
Should be a duplicate of #277

[2020-08-31 11:45] hcomnetworkers opened #314 "Code completion in referenced files"
Is there any way to enable code-completion for a yaml-file that only contains e.g. schemas?

For example, I have a `Foo.yml` with:
[code]
And a `Common.yml` with:
[code]

The code-completion works great in `Foo.yml`, but surely not in `Common.yml` because that file proably does not look like anything for the intellij-swagger-plugin.

Is there maybe an annotation that could be used to enable code-c

[2020-10-13 16:24] cyrillc commented on #277
Any updates? I could really need a fix for this =)

[2020-12-15 13:00] neopaf opened #315 "Property "description" not allowed (when it is $ref sibling)"
(thanks for very useful plugin!!)
version: 1.0.28

Input:
[code]
Intellij underlines `description` line red, suggests to remove it, and claims that

I'm not sure who and how validates the document, status line has it "No JSON schema".

According to
https://swagger.io/docs/specification/using-ref/

All siblings of `$ref` must be ignored.

Is this message "not allowed" related to Swagger plugin?

[2021-01-17 11:00] pulsone opened #317 "YAML Scalars in descriptions prevented Swagger UI rendering"
If you use YAML scalars like this in your Open API 3:

[code]

or

[code]

or

[code]

the Swagger UI in IntellJ can **not render** anymore.

[2021-02-01 13:25] Lauri-Nomme opened #318 "Compatibility with IntelliJ EAP 2021.1"
Opening any swagger description file results in
[code]

[2021-02-12 12:09] Spurlos opened #319 "Warning during IDE boot"
IDE prints out some warnings during startup in the console. Seems that its getting out of date with latest API

IDE: PHPStorm 2020.3.2
Plugin version: 1.0.28

[code]

[2021-03-14 13:32] Cactuspat2 opened #320 "Plug-in not loading in IntelliJ CE 2020.3 for MacOS"
Hi There.

I recently upgraded my Mac and installed the latest version of IntelliJ. When I load the Swagger extension it loads, but after the IDE restarts it says 'Requires plugin 'org.zalando.intellij.swagger' to be installed.

Here is the information from the 'about IntelliJ' panel
IntelliJ IDEA 2020.3.2 (Community Edition)
Build #IC-203.7148.57, built on January 25, 2021
Runtime version: 11.0.9

[2021-04-07 08:18] freeedrik commented on #318
Intelij 2021.1 is now the latest stable version if running the snap on Ubuntu. So today it stopped working for me.

[2021-04-07 12:26] viper90 opened #321 "Plugin not working with Webstorm 2021.1"
I recently upgraded my Webstorm to the latest version however I receive the below error on first loading the IDE and the code analysis never completes so halts my ability to commit changes in to my repository.

[code]

[2021-04-07 15:09] radarsh commented on #318
MacOS IntelliJ IDEA Ultimate - this plugin repeatedly crashes with the above stack trace and gradually eats into the allocated memory for IntelliJ.

[2021-04-07 17:35] jbx1 commented on #321
Same problem with IntelliJ Ultimate 2021.1. Just after upgrade from the 2020 version.

[2021-04-08 04:41] zxeoc opened #322 "conflict with Rust plugin of JetBrains"
When active Rust plugin from JetBrains and this at the same time, and set highlighting level to "All problems", it will stuck at "Analyzing(performing code analysis)" and prevent the editor from highlighting the Rust code.

[2021-04-08 07:02] lhasselb commented on #318
Win10 IntelliJ IDEA Ultimate - plugin stopped working after update to 21.1.

[2021-04-08 08:39] shaundsmith commented on #318
I'm seeing a similar issue in the logs on Max OS with IntelliJ ultimate 2021.1.

The error seems to prevent code completion/inspection from working in non-swagger files too. Disabling the plugin resolves the issues with code completion/inspection.

[2021-04-08 15:13] tomwidmer commented on #321
I think this is a duplicate of #318 and should probably be closed in favour of that one - the compatibility issue will be across all the 2021.1 versions of IntelliJ productions.

[2021-04-09 19:18] marcelstoer commented on #321
👍

[2021-04-09 19:26] marcelstoer commented on #318
Seeing the same stacktrace upon opening any (Java) project in IntelliJ 2021.1. It troubles me as it appears this fine plugin is now unmaintained. @tkrop @zeitlinger can you reproduce this?

Looks like https://github.com/zalando/intellij-swagger/blob/master/src/main/java/org/zalando/intellij/swagger/inspection/reference/JsonReferenceInspection.java#L18 is missing a default constructor.

[2021-04-12 08:03] #321 closed, assigned to nobody

[2021-04-12 08:03] viper90 commented on #321
Closed as duplicate of #318

[2021-04-13 09:27] ivangal2 opened #323 "Getting JsonReferenceInspection after updating Idea to the version 2021.1"
Swagger 1.0.28
IntelliJ IDEA 2021.1 (Community Edition)

**IntelliJ**
[code]
**Exception**
[code]

[2021-04-13 17:20] tvolkov commented on #318
seeing the same issue with crashing plugin on m1 mac
without disabling it the [code editor' color scheme gets mad](https://youtrack.jetbrains.com/issue/IDEA-266727) which is pretty weird

[2021-04-14 13:10] zeitlinger commented on #318
I've just looked into this issue - and plugin development in general...

Therefore, I'm a bit more conservative and have uploaded the new plugin to the beta channel:

https://plugins.jetbrains.com/plugin/8347-swagger/versions/beta/117026

Once someone has confirmed it's working, I'll publish to the main channel.

[2021-04-14 13:24] tkrop commented on #323
Sorry for the inconvenience and thanks for reporting. We have managed to upload a [Beta 1.1](https://plugins.jetbrains.com/plugin/8347-swagger/versions/beta/117026) that should fix the problem. We are still working on the pull request permanently fixing the issue. Please try it out and give us feedback whether it works.

[2021-04-14 13:25] tkrop commented on #322
Thanks for reporting. Can you please try out [beta 1.1](https://plugins.jetbrains.com/plugin/8347-swagger/versions/beta/117026) and see whether it fixes the problem?

[2021-04-14 13:26] tkrop commented on #320
Thanks for reporting. Can you please try out [beta 1.1](https://plugins.jetbrains.com/plugin/8347-swagger/versions/beta/117026) to see whether it fixes your issue?

[2021-04-14 13:27] tkrop commented on #319
Thanks for reporting. Can you please try out [beta 1.1](https://plugins.jetbrains.com/plugin/8347-swagger/versions/beta/117026) and give feedback whether this fixes the issue?

[2021-04-14 14:03] honzabazant commented on #318
Tested.
- Code completion works for me
- Analysis works correctly (e.g. if I reference a non-existent element in $ref, it is correctly reported as error)

However I noticed two issues, but these are not major for me and I can easily live with them.

So now I want to thank you for making this plugin great again 😄

- When IDE starts and the plugin loads, the following exception is reported (clearly

[2021-04-14 14:08] tkrop commented on #323
Duplicate of #318.

[2021-04-14 14:08] #323 closed, assigned to nobody

[2021-04-14 14:09] tkrop commented on #322
Please also have a look at #318.

[2021-04-14 14:09] tkrop commented on #320
Please also have a look at #318.

[2021-04-14 14:10] tkrop commented on #319
Please also have a look at #318, whether this is related.

[2021-04-14 23:29] Spurlos commented on #319
Seems that no more warnings or errors are going down the console since the update.

[2021-04-15 08:47] ivangal2 commented on #323
Thank you @tkrop for your response. With the Beta 1.1 I'm getting another exception, details are below.

[code]

[2021-04-15 15:37] tkrop commented on #319
Thanks for the feedback. We are working on pushing the update to the main channel as soon as possible.

[2021-04-15 15:37] #319 closed, assigned to nobody

[2021-04-15 15:46] tkrop commented on #277
May be fixed by #307, however this has a political aspect that currently prevents merging. See https://github.com/zalando/intellij-swagger/pull/307#pullrequestreview-413347642.

[2021-04-15 15:48] tkrop commented on #312
Acknowledged duplicate of #277. May be fixed by #307, however this has a political aspect that currently prevents merging. See https://github.com/zalando/intellij-swagger/pull/307#pullrequestreview-413347642.

[2021-04-15 15:48] #312 closed, assigned to nobody

[2021-04-16 11:16] Cactuspat2 commented on #320
The beta 1.1 fixed it. Thank you very much!!

[2021-04-16 23:15] mojorero opened #325 "IntelliJ Inspections not working after upgrading IntelliJ IDEA to 2021.1"
Today I updated IntelliJ IDEA to the version 2021.1.

After that, the editor inspections did not work anymore (at least with Gradle and Maven projects with Java code). The inspections seen in the project explorer did work though.

Deinstalling the Plugin for Swagger helps. I was not able to find a better solution which allows me to keep using the Swagger Plugin.

After reinstalling the plugin agai

[2021-04-16 23:23] mojorero commented on #325
It is possible that the root cause for this problem is analyzed in this ticket https://github.com/zalando/intellij-swagger/issues/318
There is also a possible related PR https://github.com/zalando/intellij-swagger/pull/324

[2021-04-19 11:20] revilwang commented on #318
After installing the beta version, auto-completion is working, but an error still pops out, which is the same with the first case described in @honzabazant 's comment. Still I can live with the error. Thanks for the work.

[2021-04-22 06:26] marcelstoer commented on #325
Should be closed as a duplicate of #318.

[2021-04-22 06:28] marcelstoer commented on #320
Close this issue then?

[2021-04-22 06:29] marcelstoer commented on #310
Same as in #318?

[2021-04-22 06:31] marcelstoer commented on #288
Related to #318 maybe?

[2021-04-23 16:27] mojorero commented on #318
FYI. Editor inspections not working after updating to IntelliJ 2021.1.

Extracted from the following ticket https://github.com/zalando/intellij-swagger/issues/325

Today I updated IntelliJ IDEA to the version 2021.1.

After that, the editor inspections did not work anymore (at least with Gradle and Maven projects with Java code). The inspections seen in the project explorer did work though.

Deins

[2021-04-23 16:29] mojorero commented on #325
@marcelstoer thanks for your comment. I closed the ticket, as you suggested.
I also added the information to the mentioned ticket, as it is relevant to know that the IntelliJ editor validation is not working anymore.

[2021-04-23 16:29] #325 closed, assigned to nobody

[2021-04-25 11:11] zxeoc commented on #322
After installing the 1.1 beta, the issue solved. Thanks.

[2021-04-25 11:11] #322 closed, assigned to nobody

[2021-04-27 20:03] sanjP10 commented on #320
Hi @tkrop
After installing [beta 1.1](https://plugins.jetbrains.com/plugin/8347-swagger/versions/beta/117026)
I still have an issue when trying to click the button to open the swagger UI in a browser it does nothing.

I am also on a Mac and running
IntelliJ 2021.1 Ultimate edition

Your plugin is super useful and would love for this to be functional again for my install.

[2021-05-05 23:47] ye commented on #318
While waiting for the compatibility issues to be resolved and merged to to be released there are 2 alternatives:

1. JetBrains has released their own plugin for OpenAPI - https://plugins.jetbrains.com/plugin/14394-openapi-specifications
2. Insomnia as a stand alone API spec design tool / OpenAPI renderer https://github.com/Kong/insomnia

[2021-05-25 16:05] ye commented on #318
So I removed the old Swagger plugin stable version 1.0.28 and then disabled the JetBrains OpenAPI plugin, and then downloaded the above beta version (Swagger beta 1.1) to disk and installed it from disk. The problem still persist and I am seeing it crashing and popup a Java stack trace immediate after trying to open the old OpenAPI YAML file.

I am running
[code]

<img width="1385" alt="Screen Sho

[2021-06-14 20:24] Spurlos commented on #318
Plugin throws Exception mentioned above on each start and actions in IDE :|

[2021-07-08 06:56] sambaranhazra commented on #318
Hi @Spurlos and @ye ,

Can you please try with the version [1.1.1](https://plugins.jetbrains.com/plugin/8347-swagger/versions/beta/126353) from beta channel?

[2021-07-08 07:46] sambaranhazra commented on #320
Hi @sanjP10,

Can you please try with the version [1.1.1](https://plugins.jetbrains.com/plugin/8347-swagger/versions/beta/126353) from beta channel?

[2021-07-08 08:08] sanjP10 commented on #320
That worked

[2021-07-08 10:21] sambaranhazra commented on #320
Hi @sanjP10
Thanks for the feedback, we will soon release it to stable channel.

[2021-07-08 14:06] #318 closed, assigned to zeitlinger

[2021-07-08 14:24] #320 closed, assigned to nobody

[2021-07-21 04:43] ye commented on #318
@sambaranhazra yes I can confirm that [stable version 1.1.1](https://plugins.jetbrains.com/plugin/8347-swagger/versions/stable/126722) is working now on the current latest PyCharm. Thank you!

[code]

[2021-07-26 23:28] naufq commented on #87
Does Swagger UI still suffer from this issue?

[2021-08-12 15:02] sambaranhazra opened #327 "Usage of deprecated jetbrains Api"
Current stable build (1.1.1) of intellij-swagger has some deprecated usage as specified by the jetbrains [report](https://plugins.jetbrains.com/plugin/8347-swagger/versions/stable/126722), this needs to be resolved to keep the plug-in up to date.

[code]

[2021-09-19 13:18] ezplanet opened #329 "Could not generate Swagger UI: java.lang.NullPointerException"
Go Lang 2020.1.2
Swagger plugin 1.1.1

when trying to edit a file I get the following error:

"Could not generate Swagger UI: java.lang.NullPointerException: resource"

[2021-12-10 04:19] JohnVonNeumann opened #330 "Is this Plugin still being supported?"
Hey there, I've run into a few issues with the plugin throwing errors on valid expressions in my swagger yaml definition, I was going to leave some issues but it seems to me like this project might be dead given there are multiple valid PRs open, accepted but not merged. If it's still alive, I'll post my issues, otherwise, what's the point?

Cheers, appreciate the work.

[2021-12-10 12:22] sambaranhazra commented on #330
Hi @JohnVonNeumann ,

Thanks for asking, can you please share the issue you are facing and the respective IDE and plugin version you are using? Regarding the opened PR, we will soon close the PR for the deprecated Api soon, we have released that in beta channel and would do a verification before releasing to stable and merging.

Regards
Sambaran

[2021-12-12 04:22] JohnVonNeumann commented on #330
Hey mate

Cheers for the quick reply, I've since found a fix for the main problem I was having, I guess largely my question is around the OpenAPI version 3 support, but I'm fairly new to OpenAPI so I'm probably just being a scrub. The other issues I had, I've forgotten about and it looks like I'm not facing them now. Sorry for the fuck around. Cheers for your work on this plugin.

[2021-12-12 04:22] #330 closed, assigned to nobody

[2022-01-06 21:21] gindex opened #331 "Deprecation exception `AnnotationBuilder#createAnnotation`"
Intellij IDEA: 2021.3.1
Swagger plugin: 1.1.2

Exception:

[code]

[2022-02-03 04:12] bhattraideb commented on #331
I am also getting this error, what will be the fix for this?

[2022-03-14 16:44] SergioFloresG commented on #331
PyCharm 2021.3.2 (Professional Edition)
Build #PY-213.6777.50, built on January 27, 2022
Runtime version: 11.0.13+7-b1751.25 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
macOS 12.2.1

Non-Bundled Plugins:
    org.zalando.intellij.swagger (1.1.2)

Exception:
[code]

[2022-03-23 08:38] Bifi1992 commented on #331
Same issue here.
---
IntelliJ IDEA 2021.3.2 (Community Edition)
Build #IC-213.6777.52, built on January 28, 2022
Runtime version: 11.0.13+7-b1751.25 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
Linux 5.13.0-35-generic
GC: G1 Young Generation, G1 Old Generation
Memory: 1966M
Cores: 8
Non-Bundled Plugins:
    org.toml.lang (213.5744.224)
    org.zalando.intellij.swagger (1.1.2)
    idea.pl

[2022-04-05 15:20] Guiarrd opened #332 "FileSystemAlreadyExistsException when opening yaml files"
Could not generate Swagger UI: java.nio.file.FileSystemAlreadyExistsException

[2022-04-12 14:27] wetor commented on #332
I have the same problem, neither JSON nor yaml can be displayed, but I can open it through a browser
MacOS 10.15.4
GoLand 2021.3.4 / WebStorm 2021.3.3
[code]

[2022-04-19 06:47] SamTheisens commented on #332
Same problem here.

[code]

[2022-04-21 19:22] gindex commented on #331
@tkrop could you take a look at the pr? Thanks.

[2022-04-28 15:54] rovrevik commented on #332
Same prob.

[2022-05-11 02:52] longzu123 commented on #332
Me too,the same problem.

![1](https://user-images.githubusercontent.com/60382260/167759239-9d13db63-68f1-4e18-9ccc-30f6c12c3441.png)

[2022-05-27 17:53] uriyger commented on #332
Same issue
MacOs 12.14
GoLand 2022.1.1
Plugin: 1.1.2

[2022-06-24 11:44] #331 closed, assigned to nobody

[2022-06-24 11:45] tkrop commented on #331
@gindex sorry for the delay and thank you for the contribution. I will try to release this soon.

[2022-09-06 08:25] 0kk1n4v4 commented on #332
The same problem MacOs 12.5.1 (21G83)
IntelliJ IDEA 2021.3.2 (Ultimate Edition)
Swagger Zelando SE 1.1.2

Log:

11:19	Could not generate Swagger UI: java.nio.file.FileSystemAlreadyExistsException

<img width="676" alt="Снимок экрана 2022-09-06 в 11 25 37" src="https://user-images.githubusercontent.com/70743328/188585530-7aaa0015-8943-4233-8e3c-7d2376e19b53.png">
<img width="507" alt="Снимок экрана

[2022-09-15 12:49] neopaf commented on #332
Please?

[2022-09-20 09:44] gskoczylas opened #334 "Slightly strange operation of the plug-in"
Among other things, I have these plug-ins installed in IntelliJ:
•	Swagger
•	OpenAPI Specifications

A colleague has the same plug-ins installed. If a colleague opens Swagger's YAML file, he has web browser icons in the top right corner. He can click them and see his API in the browser of his choice.

I don't have these web browser icons. What could be causing me to not have these icons? Should I

[2022-10-04 12:18] tkrop commented on #334
Sorry, we are missing the capacity to investigate this issue at the moment. If you find the problem and can deliver a solution we would be glad to merge it.

[2022-10-04 12:18] #334 closed, assigned to nobody

[2022-10-19 10:30] proger-coder commented on #332
![image](https://user-images.githubusercontent.com/72763951/196667136-d7d48925-8ee7-4408-90c1-d385c0bf762e.png)

![image](https://user-images.githubusercontent.com/72763951/196667034-ce2765b3-37d6-4e62-877e-15d090043729.png)

[2022-10-26 02:23] ghost commented on #329
Me too, i have the same problem.

[2022-10-28 09:17] nomadaryan commented on #331
Is this release yet?

[2022-10-29 06:13] SergioFloresG commented on #331
@nomadaryan "soon" means approximately, sometime in 2030

[2022-11-02 09:21] Tithugues opened #335 "Using the preview blocks the editor"
Using this plugin, when I click on any item in the Preview of the documentation (open / close a route definition, a schema, …), then I can't write anymore in the editor, can't use any shortcut anymore. Only the mouse is available.
To be able to use my keyboard again, I need to move from the "Editor and Preview" view to the "Editor" view and it works until I click in the "Preview" view again.

Is i

[2022-11-08 09:24] vonboth commented on #331
When is this going to be released? It's getting anoying to get this silly error again and again.

[2022-11-29 21:13] corytheboyd-smartsheet commented on #332
Throwing in my plus one, same problem as everyone else.